<div class="row">
  <div class="col-md-6 col-sm-6">
    <!-- BEGIN GRAPH-->
    <div class="portlet solid bordered light-grey">
      <div class="portlet-title">
        <div class="caption"><i class="fa fa-bar-chart-o"></i>Team Average Win Rate</div>
      </div>
      <div class="portlet-body">
        <%= render "dashboards/chart", height: 334 %>
      </div>
    </div>
    <!-- END GRAPH-->
  </div>
  <div class="col-md-6 col-sm-6">
  	<!-- BEGIN PORTLET-->
    <div class="portlet solid bordered light-grey">
			<div class="portlet-title">
				<div class="caption"><i class="fa fa-rss-square"></i>Team Description</div>
			</div>
			<div class="portlet-body">
			</div>
		</div>
    <!-- END PORTLET-->
    <!-- BEGIN PORTLET-->
		<div class="portlet solid bordered light-grey">
			<div class="portlet-title">
				<div class="caption"><i class="fa fa-bell-o"></i>Recent Activities</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height: 136px;" data-always-visible="1" data-rail-visible="0">
					<ul class="feeds">
						<% @recent_entries.each do |entry| %>
							<li>
								<div class="col1">
									<div class="cont">
										<div class="cont-col1">
											<% if entry.mode.name == "Arena" %>
                        <div class="label label-sm label-<%=entry.klass.name%>">
													<%=image_tag("swords.svg", height: 17, width: 17) %>
												</div>
											<% elsif entry.mode.name == "Ranked" %>
                        <div class="label label-sm label-<%=entry.klass.name%>">
													<%=image_tag("hammerwrench.svg", height: 17, width: 17) %>
												</div>
                      <% elsif entry.mode.name == "Casual" %>
                          <div class="label label-sm label-<%=entry.klass.name%>">
                            <%=image_tag("hammerwrench.svg", height: 17, width: 17) %>
												</div>
                      <% end%>
										</div>
										<div class="cont-col2">
											<div class="desc">
                        <%= entry.user.profile.name%>: <%= entry.match_result.name %> against <%= entry.oppclass.name %> with <%= entry.klass.name %>
											</div>
										</div>
									</div>
								</div>
								<div class="col2">
									<div class="date">
										<%= time_ago_in_words(entry.created_at) %> ago
									</div>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
    <!-- END PORTLET-->

  </div>
</div>
<div class="clearfix"></div>
