<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta name="MobileOptimized" content="320">
  <!-- BEGIN GLOBAL MANDATORY STYLES -->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "devise" %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags :site => 'HearthStats' %>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <!-- END GLOBAL MANDATORY STYLES -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
  <!-- BEGIN LOGO -->
  <div class="logo">
    <%= image_tag('new_logo/full_colour/full_colour_mark.png', height: 100) %>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:autocomplete => "off"} ) do |f| %>
    <%= devise_error_messages! %>
      <h3 >Sign Up</h3>
      <p>Enter your account details below:</p>
      <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Email</label>
        <div class="input-icon">
          <i class="fa fa-envelope"></i>
          <%= f.email_field :email, :placeholder => "Email", class: "form-control placeholder-no-fix" %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon">
          <i class="fa fa-lock"></i>
          <%= f.password_field :password, :placeholder => "Password", id: "register_password", class: "form-control placeholder-no-fix" %>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
        <div class="controls">
          <div class="input-icon">
            <i class="fa fa-check"></i>
            <%= f.password_field :password_confirmation, :placeholder => "Re-type Your Password", class: "form-control placeholder-no-fix" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>
        <input type="checkbox" name="tnc"/> I agree to the <a href="/privacy" target="_blank">Privacy Policy</a>
        </label>
        <div id="register_tnc_error"></div>
      </div>
      <div class="form-actions">
        <a href="/">
        <button id="register-back-btn" type="button" class="btn">
        <i class="m-icon-swapleft"></i>  Back
        </button></a>
        <button type="submit" id="register-submit-btn" class="btn blue pull-right">
        Sign Up <i class="m-icon-swapright m-icon-white"></i>
        </button>
      </div>
    <% end %>
  </div>
  <!-- END LOGIN -->
  <!-- BEGIN COPYRIGHT -->
  <div class="copyright">
    2013 &copy; HearthStats - Hearthstone win/loss tracking. <a href="/privacy" target="_blank">Privacy Policy</a>
  </div>
  <!-- END COPYRIGHT -->

  <script>
    App.init();
    Login.init();
  </script>
  <% if notice || alert %>
    <% if notice %>
      <script>
        jQuery(document).ready(function() {
          toastr.success("<%= raw notice %>");
        });
      </script>
    <% elsif alert %>
      <script>
        jQuery(document).ready(function() {
          toastr.error("<%= raw alert %>");
        });
      </script>
    <% end %>
  <% end %>
  <% if notice || alert %>
    <% if notice %>
      <script>
          toastr.success("<%= raw notice %>");
      </script>
    <% elsif alert %>
      <script>
          toastr.error("<%= raw alert %>");
      </script>
    <% end %>
  <% end %>
  <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
