<script>
  $(document).ready(function() {

    function format(state) {
      var originalOption = state.element;

      return "<img src='/assets/Icons/Classes/" + state.text + "_Icon.gif' alt='" + $(originalOption).data('foo') + "' />" + state.text;
    }
    $("#arena_userclass").select2({
      width: '300px',
      formatResult: format,
      formatSelection: format,
      escapeMarkup: function(m) { return m; }
    });
    $("#arena_oppclass").select2({
      width: '300px',
      formatResult: format,
      formatSelection: format,
      escapeMarkup: function(m) { return m; }
    });
  });
</script>

<%= form_for(@arena) do |f| %>
  <% if @arena.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arena.errors.count, "error") %> prohibited this arena from being saved:</h2>

      <ul>
      <% @arena.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div> -->
  <div class="row">
	  <div class="gofirstfield center">
	    <h3>You played on the: </h3>
	    <input type="checkbox"
				name="arena[gofirst]"
				rel="toggle-btn"
				class="btn btn-lg gofirst"
				on="First Turn"
				off="Second Turn"
				<% if !@arena.gofirst %>
				state="off"
				<% end %>
			/>
	  </div>
	</div>
	<div class="row center">
  	<div class="oppfield">
	    <%= f.label :oppclass %><br />
	    <%= f.select :oppclass, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior], @arena.oppclass) %>
	  </div>
  </div>
  <div class="cf"></div>
  <div class="winfield center">
  	<input type="checkbox"
			name="arena[win]"
			rel="toggle-btn"
			class="btn-success winbutt_style winbutton"
			on="Victory"
			off="Defeat"
			<% if !@arena.win %>
			state="off"
			<% end %>
			offClass="red"
		/>
  </div>
  <div class="actions center">
    <%= link_to 'Back', arenas_path, class: "pure-button pure-button-secondary" %>
    <%= f.submit "Update Entry", class: "pure-button pure-button-success" %>
  </div>
<% end %>
