<script>
  $(document).ready(function() {

    function format(state) {
      var originalOption = state.element;
   
      return "<img src='/assets/Icons/Classes/" + state.text + "_Icon.gif' alt='" + $(originalOption).data('foo') + "' />" + state.text;
    }
    $("#arena_userclass").select2({
      width: '300px',
      formatResult: format,
      formatSelection: format,
      escapeMarkup: function(m) { return m; }
    });
    $("#arena_oppclass").select2({
      width: '300px',
      formatResult: format,
      formatSelection: format,
      escapeMarkup: function(m) { return m; }
    });
  });
</script>

<%= form_for(@arena) do |f| %>
  <% if @arena.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arena.errors.count, "error") %> prohibited this arena from being saved:</h2>

      <ul>
      <% @arena.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div> -->
  <div class="gofirstfield">
    <div class="gofirsttitle">You played on the: </div>
    <% if @arena.gofirst %>
      <div class="pure-button pure-button-success gofirst"> First Turn </div><br />
    <% else %>
      <div class="pure-button pure-button-secondary gofirst"> Second Turn </div><br />
    <% end %>
    <%= f.check_box :gofirst, class: "firstcheckbox hidden" %>
  </div>

  <div class="yourfield">
    <%= f.label :userclass %><br />
    <%= f.select :userclass, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior], @arena.userclass ) %>
  </div>
  <div class="oppfield">
    <%= f.label :oppclass %><br />
    <%= f.select :oppclass, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior], @arena.oppclass) %>
  </div>
  <div class="cf"></div>
  <div class="winfield">
    <% if @arena.win %>
      <div class="pure-button pure-button-success winbutton"> Victory </div><br /><br />
    <% else %>
      <div class="pure-button pure-button-error winbutton"> Defeated </div><br /><br />
    <% end %>
    <%= f.check_box :win, class: "wincheckbox hidden" %>
  </div>
  <div class="actions">
    <%= link_to 'Back', arenas_path, class: "pure-button pure-button-secondary" %>
    <%= f.submit "Update Entry", class: "pure-button pure-button-success" %>
  </div>
<% end %>
