<script>
  $(document).ready(function() {

    function format(state) {
      var originalOption = state.element;

      return "<img src='/assets/Icons/Classes/" + state.text + "_Icon.gif' alt='" + $(originalOption).data('foo') + "' />" + state.text;
    }
    $("#arena_oppclass").select2({
      width: '300px',
      formatResult: format,
      formatSelection: format,
      escapeMarkup: function(m) { return m; }
    });
  });
</script>

<div class="pure-g-r">
  <div class="pure-u-1-2 center">
    <table id="arenagames">
      <tr><th>Opponent Class</th><th>Result</th></tr>
        <% @arenarun.arenas.each do |a| %>
            <tr>
              <td><%= image_tag("Icons/Classes/#{a.oppclass}_Icon.gif", height: "24", width: "24")%>   <%=a.oppclass%></td>
              <td>
                <% if a.win %>
                  <span class="victory">Victory</span>
                <% else %>
                  <span class="defeat">Defeat</span>
                <% end %>
              </td>
            </tr>
        <% end %>
    </table>
    <%= link_to "Retire", end_arena_runs_path, class: "pure-button pure-button-error retirebut", :confirm => ("Are you sure you want to retire early from this Arena Run?") %>
  </div>
  <!-- Left Past Arena Games -->
  <div class="pure-u-1-2">

    <!-- Right Arena Entry -->
    <%= form_for(@arena, :remote => true ) do |f| %>
      <% if @arena.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@arena.errors.count, "error") %> prohibited this arena from being saved:</h2>

          <ul>
          <% @arena.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <!-- <div class="field">
        <%= f.label :user_id %><br />
        <%= f.number_field :user_id %>
      </div> -->
      <div class="gofirstfield">
        <div class="gofirsttitle">You played on the: </div>
        <div class="pure-button pure-button-success gofirst"> First Turn</div><br />
        <%= f.check_box :gofirst , :checked => true, class: "firstcheckbox hidden" %>
      </div>

      <%= f.text_field :userclass, :value => @arenarun.userclass, class: "hidden" %>

      <div class="oppfield arenaopp">
        <%= f.label "Opponent's Class" %><br />
        <%= f.select :oppclass, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior]) %>
      </div>
      <div class="cf"></div>
      <div class="winfield">
        <div class="pure-button pure-button-success winbutton"> Victory </div><br />
        <%= f.check_box :win , :checked => true, class: "wincheckbox hidden" %>
      </div>

      <%= f.number_field :arena_run_id , :value => @arenarun.id, class: "hidden" %>

      <div class="actions">
        <%= link_to 'Back', arenas_path, class: "pure-button pure-button-secondary" %>
        <%= f.submit "Create Entry", class: "pure-button pure-button-success arenasubmit" %>
        <%= link_to "End Run", end_arena_runs_path, class: "pure-button pure-button-warning arenaendrun" %>
      </div>
    <% end %>
  </div>
</div>