<%= form_for @arena, url: {controller: "arenas", action: "create"}, remote: true do |f| %>
	<div class="row arenas">
		<!-- Right Arena Entry first so that it will appear on top on smaller screens-->
		<div class="col-md-6 center">
	    <% if @arena.errors.any? %>
	      <div id="error_explanation">
	        <h2><%= pluralize(@arena.errors.count, "error") %> prohibited this arena from being saved:</h2>

	        <ul>
	        <% @arena.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	        </ul>
	      </div>
	    <% end %>

	    <%= f.text_field :klass_id, :value => @arenarun.klass_id, class: "hidden" %>
			<div class="gofirst-cont">
	      <input type="checkbox" name="match[coin]" rel="toggle-btn" class="btn btn-lg green" on="Played First" off="Played Second"/>
	    </div>
	    <div class="oppfield arenaopp">
	      <h2 style="margin-top:0;">Opponent's Class</h2>
        <%= f.select :oppclass_id, options_for_select(klasses_hash.to_a) %>
	    </div>
	    <div class="cf"></div>
	    <input type="checkbox" name="match[result_id]" rel="toggle-btn" class="winbutt_style" on="Victory" off="Defeat" offclass="red"/>
      <%= number_field_tag :arena_run_id , @arenarun.id , :class => "hidden" %>
	    <div class="actions">
	      <%= link_to arenas_path do %>
	      <button class="btn btn-lg">Back</button>
	      <% end %>
	      <% if @arenarun.complete %>
					<%= link_to end_arena_runs_path do %>
		      	<button class="btn btn-lg btn-warning">End Run</button>
		      <% end %>
				<% else %>
		      <%= f.submit "Create Entry", class: "btn btn-lg btn-primary arenasubmit" %>
		      <%= link_to end_arena_runs_path do %>
		      	<button class="btn btn-lg btn-warning arenaendrun">End Run</button>
		      <% end %>
	      <% end %>
	    </div>
	  </div>
	  <div class="col-md-6">
			<div class="arena_notes">
				<h3>Notes</h3>
				<% if @arenarun.arenas.last %>
			  	<%= f.text_area :notes, :class => "redactor", :rows => 40, :cols => 120, :value => @arenarun.arenas.last.notes %>
		  	<% else %>
			  	<%= f.text_area :notes, :class => "redactor", :rows => 40, :cols => 120 %>
		  	<% end %>
			</div>
	  	<div class="portlet box green">
	  		<div class="portlet-title">
	  			<div class="caption">Arena Run Results</div>
	  		</div>
	  		<div class="portlet-body">
			  	<div class="table-reponsive">
				    <table id="arenagames" class="table table-striped">
				      <thead>
				      	<tr><th>Opponent Class</th><th>Result</th></tr>
				      </thead>
				        <tbody>
				        	<% @arenarun.matches.each do |a| %>
                    <tr>
                      <td>
                        <%= image_tag("Icons/Classes/#{get_name(a,"Oppclass")}_Icon.gif", height: "24", width: "24")%>   <%=get_name(a,"Oppclass")%>
                      </td>
                      <td>
                        <span class=<%= get_name(a,'Result') %>><%= get_name(a, "Result") %></span>
                      </td>
                    </tr>
				        	<% end %>
				        </tbody>
				    </table>
			    </div>
			  </div>
	    </div>
	  </div>
	  <!-- Left Past Arena Games -->
	</div>
<% end %>
<script type="text/javascript">
	app.UI.initClassSelector('#match_oppclass_id');
</script>
