<div class="row">
	<div class="col-md-12">
		<div class="tabbable tabbable-custom boxless">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#tab_1" data-toggle="tab">4 Columns</a></li>
				<li class=""><a href="#tab_2" data-toggle="tab">3 Columns</a></li>
				<li class=""><a href="#tab_3" data-toggle="tab">2 Columns</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab_1">
					<!-- BEGIN FILTER -->
					<div class="margin-top-10">
						<ul class="mix-filter">
							<li class="filter" data-filter="all">All</li>
							<li class="filter" data-filter="category_1">UI Design</li>
							<li class="filter" data-filter="category_2">Web Development</li>
							<li class="filter" data-filter="category_3">Photography</li>
							<li class="filter" data-filter="category_3 category_1">Wordpress and Logo</li>
						</ul>
						<div class="row mix-grid">
							<div class="col-md-3 col-sm-4 mix category_1">
								<div class="mix-inner">
									<%= image_tag("works/img1.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto odio</h4>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img1.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 mix category_2">
								<div class="mix-inner">
									<%= image_tag("works/img2.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto accusamus</h4>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img2.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 mix category_3">
								<div class="mix-inner">
									<%= image_tag("works/img3.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto accusamus</h4>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img3.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 mix category_1 category_2">
								<div class="mix-inner">
									<%= image_tag("works/img4.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto accusamus</h4>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img4.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 mix category_2 category_1">
								<div class="mix-inner">
									<%= image_tag("works/img5.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto accusamus</h4>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img5.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 mix category_1 category_2">
								<div class="mix-inner">
									<%= image_tag("works/img6.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto accusamus</h4>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img6.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 mix category_2 category_3">
								<div class="mix-inner">
									<%= image_tag("works/img1.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto accusamus</h4>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img1.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 mix category_1 category_2">
								<div class="mix-inner">
									<%= image_tag("works/img2.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto accusamus</h4>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img2.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 mix category_3">
								<div class="mix-inner">
									<%= image_tag("works/img4.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto accusamus</h4>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img4.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-4 mix category_1">
								<div class="mix-inner">
									<%= image_tag("works/img3.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto accusamus</h4>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img3.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END FILTER -->
				</div>
				<div class="tab-pane" id="tab_2">
					<!-- BEGIN FILTER -->
					<div class="filter-v1 margin-top-10">
						<ul class="mix-filter">
							<li class="filter" data-filter="all">All</li>
							<li class="filter" data-filter="category_1">UI Design</li>
							<li class="filter" data-filter="category_2">Web Development</li>
							<li class="filter" data-filter="category_3">Photography</li>
							<li class="filter" data-filter="category_3 category_1">Wordpress and Logo</li>
						</ul>
						<div class="row mix-grid thumbnails">
							<div class="col-md-4 col-sm-6 mix category_1">
								<div class="mix-inner">
									<%= image_tag("works/img1.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h3>Cascusamus et iusto odio</h3>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img1.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 mix category_2">
								<div class="mix-inner">
									<%= image_tag("works/img2.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h3>Cascusamus et iusto odio</h3>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img2.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 mix category_3">
								<div class="mix-inner">
									<%= image_tag("works/img3.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h3>Cascusamus et iusto odio</h3>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img3.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 mix category_1 category_2">
								<div class="mix-inner">
									<%= image_tag("works/img4.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h3>Cascusamus et iusto odio</h3>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img4.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 mix category_2 category_1">
								<div class="mix-inner">
									<%= image_tag("works/img5.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h3>Cascusamus et iusto odio</h3>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img5.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 mix category_1 category_2">
								<div class="mix-inner">
									<%= image_tag("works/img6.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h3>Cascusamus et iusto odio</h3>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img6.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 mix category_2 category_3">
								<div class="mix-inner">
									<%= image_tag("works/img1.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h3>Cascusamus et iusto odio</h3>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img1.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 mix category_1 category_2">
								<div class="mix-inner">
									<%= image_tag("works/img2.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h3>Cascusamus et iusto odio</h3>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img2.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 mix category_3">
								<div class="mix-inner">
									<%= image_tag("works/img4.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h3>Cascusamus et iusto odio</h3>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img4.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-6 mix category_1">
								<div class="mix-inner">
									<%= image_tag("works/img3.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h3>Cascusamus et iusto odio</h3>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img3.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END FILTER -->
				</div>
				<div class="tab-pane" id="tab_3">
					<!-- BEGIN FILTER -->
					<div class="filter-v1 margin-top-10">
						<ul class="mix-filter">
							<li class="filter" data-filter="all">All</li>
							<li class="filter" data-filter="category_1">UI Design</li>
							<li class="filter" data-filter="category_2">Web Development</li>
							<li class="filter" data-filter="category_3">Photography</li>
							<li class="filter" data-filter="category_3 category_1">Wordpress and Logo</li>
						</ul>
						<div class="row mix-grid thumbnails">
							<div class="col-md-6 col-sm-6 mix category_1">
								<div class="mix-inner">
									<%= image_tag("works/img1.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto odio</h4>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img1.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 mix category_2">
								<div class="mix-inner">
									<%= image_tag("works/img2.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto odio</h4>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img2.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 mix category_3">
								<div class="mix-inner">
									<%= image_tag("works/img3.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto odio</h4>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img3.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 mix category_1 category_2">
								<div class="mix-inner">
									<%= image_tag("works/img4.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto odio</h4>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img4.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 mix category_2 category_1">
								<div class="mix-inner">
									<%= image_tag("works/img5.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto odio</h4>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img5.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 mix category_1 category_2">
								<div class="mix-inner">
									<%= image_tag("works/img6.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto odio</h4>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img6.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 mix category_2 category_3">
								<div class="mix-inner">
									<%= image_tag("works/img1.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto odio</h4>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum deleniti.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img1.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 mix category_1 category_2">
								<div class="mix-inner">
									<%= image_tag("works/img2.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto odio</h4>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img2.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 mix category_3">
								<div class="mix-inner">
									<%= image_tag("works/img4.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto odio</h4>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img4.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 mix category_1">
								<div class="mix-inner">
									<%= image_tag("works/img3.jpg",class: "img-responsive") %>
									<div class="mix-details">
										<h4>Cascusamus et iusto odio</h4>
										<p>At vero eos et accusamus et iusto odio digniss imos duc sasdimus qui sint blanditiis prae sentium voluptatum.</p>
										<a class="mix-link"><i class="fa fa-link"></i></a>
										<a class="mix-preview fancybox-button" href="assets/img/works/img3.jpg" title="Project Name" data-rel="fancybox-button"><i class="fa fa-search"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END FILTER -->
				</div>
			</div>
		</div>
	</div>
</div>
<script>Portfolio.init();	</script>