<% path = constructeds_path if params[:controller] == 'constructeds' %>
<% path = matches_arenas_path if params[:controller] == 'arenas' %>
<% path = stats_premiums_path if params[:controller] == 'premiums' %>
<%= search_form_for @q, url: path, html: { class: 'data-turboform' } do |f| %>
  <p>
    <%= t('.filter') %>
    <% if params[:controller] == 'premiums' %>
      <%= f.select :mode_id_in, Match::MODES_LIST.invert.to_a
        .insert(0,["- Mode -", '']) %>
    <% end %>
    <%= f.select :klass_id_in, klass_collection_for_select %>
    vs.
    <%= f.select :oppclass_id_in, klass_collection_for_select %>
    <%= f.select :coin_in, [["- #{t('.coin?')} -", ''], ['true', 'true'], ['false', 'false']] %>
    &nbsp;
    <%= t('.opponent') %>:
    <%= f.text_field :oppname_cont, { size: 8 } %>
    &nbsp;
    <%= t('.shared.notes') %>:
    <%= f.text_field :notes_cont, { size: 12 } %>
    &nbsp;

    <%= f.submit class: 'btn btn-sm btn-primary', id: '', value: t('.apply') %>
    <%= f.submit class: 'btn btn-sm dark',        id: 'clearMatchFiltersButton', value: t('.reset') %>
  </p>
  <p>
    <%= t('.show') %>
    <%= select_tag :items, options_for_select(items_per_page_for_select, params[:items]) %>
    <%= t('.for') %>
    <%= f.select :created_at_gteq, options_for_select(created_at_gteq_options_for_select) %>
    <%= t('.sort') %>
    <%= select_tag :sort, options_for_select(%w(created_at duration numturns).map { |a| [t(".#{a}"), a]}, params[:sort]) %>
    <%= select_tag :order, options_for_select([[t('.ascending'), 'asc'], [t('.descending'), 'desc']], params[:order]) %>

    &nbsp; - &nbsp;

    <strong><%= number_to_percentage(@winrate, precision: 2) %></strong> <%= t('.win_rate_over') %>
    <strong><%= number_with_delimiter(@matches.size, :delimiter => ',') %></strong> <%= t('.matches_in_this_list') %>
 </p>
<% end %>
