<script type="text/javascript">
  $('#deckListFilter select').change(function() {
    $('#deckListFilter').submit();
  });
  $('#deckListFilterSubmit').hide();
</script>

<table class="decklist table table-bordered table-striped table-condensed flip-content" id="decklist">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th class="class"><%= t('.class') %></th>
      <th class="minions"><%= t('.minions') %></th>
      <th class="spells"><%= t('.spells') %></th>
      <th class="weapons"><%= t('.weapons') %></th>
      <th class="matches"><%= t('.matches') %> *</th>
      <th class="wins"><%= t('.wins') %> *</th>
      <th class="losses"><%= t('.losses') %> *</th>
      <th class="winrate"><%= t('.win_rate') %> *</th>
      <% if !current_user.nil? %>
        <th class="tools"><%= t('.tools') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @decks.each do |deck| %>
      <tr>
        <td class="name"><%= link_to(deck.name ,deck) %></td>
        <td class="class"><img src="/assets/Icons/Classes/<%= deck.class_name %>_Icon.gif" alt="<%= deck.class_name %>"/></td>
        <td class="minions"><%= deck.num_minions %></td>
        <td class="spells"><%= deck.num_spells %></td>
        <td class="weapons"><%= deck.num_weapons %></td>
        <td class="matches"><%= deck.matches.count %></td>
        <td class="wins"><%= deck.user_num_wins %></td>
        <td class="losses"><%= deck.user_num_losses %></td>
        <td class="winrate"><%= number_to_percentage(deck.user_winrate, precision: 1) %></td>
        <% if !current_user.nil? %>
          <td class="tools">
            <%if !current_user.nil? && current_user.id == deck.user_id %>
              <%= link_to("Edit", edit_deck_path(deck), class: 'btn default btn-xs purple fa fa-pencil-square-o') %>
              <%= link_to("Delete", deck, class: "btn default btn-xs red fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure? This will delete the associated Constructed Matches as well.' }) %>
            <% else %>
              <%
                user_copy = deck.get_user_copy(current_user)
                if user_copy.nil?
              %>
                <%= link_to("Copy to My Decks", copy_deck_path(deck), class: 'btn default btn-xs blue', :rel => "tooltip", :title => "Make your own copy of this deck") %>
              <% else %>
                <%= link_to("View My Copy", user_copy, :rel => "tooltip", :title => "View your copy of this deck", class: "btn default btn-xs green",) %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end%>
  </tbody>
</table>
