<table class="decklist table table-bordered table-striped table-condensed flip-content">
	<tr>
		<th>Name</th>
		<th class="class">Class</th>
		<th class="matches">Matches</th>
		<th class="wins">Wins</th>
		<th class="losses">Losses</th>
		<th class="winrate">Win Rate</th>
		<th class="tools">Tools</th>
	</tr>
	<% @decks.each do |deck| %>
		<tr>
			<td class="name"><%= link_to(deck.name ,deck) %></td>
			<td class="class"><img src="/assets/Icons/Classes/<%= deck.class_name %>_Icon.gif" title="<%= deck.class_name %>"/></td>
			<td class="matches"><%= deck.num_matches %></td>
			<td class="wins"><%= deck.wins %></td>
			<td class="losses"><%= deck.losses %></td>
			<td class="winrate"><%= number_to_percentage(deck.winrate, precision: 2) %></td>
			<td class="tools">
				<%if !current_user.nil? && current_user.id == deck.user_id%>
					<%= link_to("Edit", edit_deck_path(deck), class: 'btn default btn-xs purple fa fa-pencil-square-o') %>
					<%= link_to("Delete", deck, class: "btn default btn-xs red fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure? This will delete the associated Constructed Matches as well.' }) %>
				<% end %>
			</td>
		</tr>
	<% end%>
</table>
