<table class="decklist table table-bordered table-striped table-condensed flip-content">
	<tr>
		<th>Name</th>
		<th class="class">Class</th>
		<th class="minions">Minions</th>
		<th class="spells">Spells</th>
		<th class="weapons">Weapons</th>
		<th class="matches">Matches <%= global ? "*" : "" %></th>
		<th class="wins">Wins <%= global ? "*" : "" %></th>
		<th class="losses">Losses <%= global ? "*" : "" %></th>
		<th class="winrate">Win Rate <%= global ? "*" : "" %></th>
		<% if !current_user.nil? %>
			<th class="tools">Tools</th>
		<% end %>
		<% if global %>
			<th class="author">Author</th>
		<% end %>
	</tr>
	<% @decks.each do |deck| %>
		<tr>
			<td class="name"><%= link_to(deck.name ,deck) %></td>
			<td class="class"><img src="/assets/Icons/Classes/<%= deck.class_name %>_Icon.gif" title="<%= deck.class_name %>"/></td>
			<td class="minions"><%= deck.num_minions %></td>
			<td class="spells"><%= deck.num_spells %></td>
			<td class="weapons"><%= deck.num_weapons %></td>
			<td class="matches"><%= global ? deck.num_global_matches : deck.num_matches %></td>
			<td class="wins"><%= global ? deck.global_wins : deck.wins %></td>
			<td class="losses"><%= global ? deck.global_losses : deck.losses %></td>
			<td class="winrate"><%= number_to_percentage(global ? deck.global_winrate : deck.winrate, precision: 1) %></td>
			<% if !current_user.nil? %>
				<td class="tools">
					<%if !current_user.nil? && current_user.id == deck.user_id%>
						<%= link_to("Edit", edit_deck_path(deck), class: 'btn default btn-xs purple fa fa-pencil-square-o') %>
						<%= link_to("Delete", deck, class: "btn default btn-xs red fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure? This will delete the associated Constructed Matches as well.' }) %>
					<% end %>
				</td>
			<% end %>
			<% if global %>
				<td class="author"><%= link_to(deck.user.profile.name.nil? ? "[anonymous]" : deck.user.profile.name, profile_path(deck.user.profile.user_id))%></td>
			<% end %>
		</tr>
	<% end%>
</table>
<% if global %>
	<p>* <em>stats are for all users that have played the deck, not just the originla author</em></p>
<% end %>