<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8" />
  <meta content="Jeffrey Tong" name="author" />
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
  <title>HearthStats | Hearthstone Statistics and Tracking</title>
  <meta name="keywords" content="hearthstone, stats, hearthstats, statistics, tracking, win, loss, online, cloud, automatic">
  <meta name="description" content="HearthStats makes Hearthstone win/loss tracking simple. HearthStats will provide statistical feedback on your results to help you improve your game.">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- OG Meta -->
  <meta property="og:image" content="http://www.hearthstats.net/assets/hearthstatslogo.png">
  <meta property="og:url" content="http://hearthstats.net/">
  <meta property="og:title" content="HearthStats | Hearthstone Statistics and Tracking">
  <meta property="og:description" content="HearthStats makes Hearthstone win/loss tracking simple. HearthStats will provide statistical feedback on your results to help you improve your game.">

  <!--[if lt IE 9]>
      <script src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")></script>
  <![endif]-->
  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/reset.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("foundation.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/footable.core.min.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/ico.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/new-style.css")%> data-turbolinks-track />

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <!-- FAVICON-->
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag '/hearthstatslogo.png', rel: 'apple-touch-icon', type: 'image/png' %>

  <!-- Google Webfont -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- Header section -->
<div class="header">
  <div class="top-bar">
    <div class="row">

      <!-- Social icons -->
      <div class="four columns">
        <ul class="top-social">
          <li class="top-tweet"><a href="https://twitter.com/HearthStats"><div class="icon-twitter"><div class="social-inner"><img src= <%= public_url("images/pat.png" ) %> alt=""></div></div></a></li>
          <li class="top-fb"><a href="https://www.facebook.com/HearthStats.net"><div class="icon-facebook"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
          <li class="top-gplus"><a href="https://plus.google.com/+HearthstatsNet/posts"><div class="icon-google-plus"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
        </ul>
      </div>

      <div class="eight columns">

        <!-- Login menu -->
        <div class="top-login">
          <%= form_for(:user, :url => session_path(:user),  :html => {class: "login-form"}) do |f| %>
            <%= f.email_field :email, :autofocus => true, :placeholder => "Email", class: "form-control"%>
            <%= f.password_field :password, :placeholder => "Password", class: "form-control" %>

            <%= f.check_box :remember_me, checked: true,  class: "hide" %>
            <%= f.submit "Login", class: "login-button" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <div class="nav-bar">
    <div class="row">
      <div class="four columns logo-cont">
        <%= image_tag 'logo_v2/orange_inline.png', class: 'header-logo' %>
      </div>
      <div class="eight columns nav-cont">
        <ul class="top-nav">
          <li class="mobile-only"><%= link_to new_user_session_path do %>Login<% end %></li>
          <li class="mobile-only"><%= link_to new_user_registration_path do %>Register<% end %></li>
          <li><%= link_to root_path do %>Home<% end %></li>
          <li><%= link_to public_decks_path do %>Decks<% end %></li>
          <li><%= link_to streams_index_path do %>Streams<% end %></li>
          <li><%= link_to news_path do %>News<% end %></li>
          <li><%= link_to '/june' do %>Stat Report<% end %></li>
          <li><%= link_to uploader_path do %>Stat Tracker<% end %></li>
          <li><%= link_to contactus_path do %>Contact<% end %></li>
        </ul>
      </div>
    </div>
  </div>
</div class="header">
<div class="row">
  <div class="eight columns" id="main">
    
    <!-- Global Stats section -->
    <section id="global-stats">
      <div class="row">
        <div class="twelve columns wr-graph">
          <div class="content-head">
            <h2>Global Stats</h2>
            <div class="line"></div>
          <div>
          <div class="wr-graph-container">
            <div class="graph-container">
              <div id="klass-title"><img src="/assets/Icons/Classes/Druid_Icon.gif", 
                id="klass-img" /><span id="klass-name">Druid</span></div>
              <div id="klass_chart" >
                <%= line_chart win_rates_constructeds_path(:klass_id => 1), height: "200px"%>
              </div>
            </div>
            <div class="graph-klass-selector">
              <% Klass::LIST.each do |id, name| %>
                <%= link_to welcome_select_klass_path(:klass_id => id), :remote => true, class:"klass-link", data: {klass: "#{name}"} do %>
                  <%= name %>
                <% end %>
              <% end %>
              <div class="cf"></div>
            </div>
          </div>
        </div>

        <div class="twelve columns">
          <div class="row">
            <div class="six columns top-wr">
              <h3>Arena Top 5 Classes</h3>
              <table class="wr">
                <thead>
                </thead>
                <tbody>
                  <% @arena_top.each_with_index do |c,i| %>
                    <tr>
                      <td class="wr-change"></td>
                      <td class="wr-rank"><%= i + 1 %>.</td>
                      <td class="wr-class"><%= c[0] %></td>
                      <td class="wr-wr"><%= c[1] %>%</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="six columns top-wr">
              <h3>Constructed Top 5 Classes</h3>
              <table class="wr">
                <thead>
                </thead>
                <tbody>
                  <% @con_top.each_with_index do |c,i| %>
                    <tr>
                      <td class="wr-change"></td>
                      <td class="wr-rank"><%= i + 1 %>.</td>
                      <td class="wr-class"><%= c[0] %></td>
                      <td class="wr-wr"><%= c[1] %>%</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Decklists section -->
    <section id="decklists">
      <div class="row">

        <div class="content-head">
          <h2>Decklists</h2>
          <div class="line"></div>
        </div>
        
        <div class="twelve columns">
          <div id="tab-container" class="tab-container">
            <ul class="etabs">
              <li class="tab"><a href="#recent">Recent Decks</a></li>
              <li class="tab"><a href="#top">Top Decks</a></li>
            </ul>
            <div id="recent">
              <table id="decklist" class="footable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th data-hide="phone,tablet">Minions</th>
                    <th data-hide="phone,tablet">Spells</th>
                    <th data-hide="phone,tablet">Weapons</th>
                    <th data-hide="phone">Matches</th>
                    <th>Win Rate</th>
                    <th data-hide="phone,tablet">Posted By</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                  <% @recentdecks.each do |deck| %>
                    <% unique_deck = deck.unique_deck %>
                    <tr>
                      <td class="name"><%= deck.name %></td>
                      <td class="class"><%= deck.class_name %></td>
                      <td class="minions"><%= unique_deck.num_minions %></td>
                      <td class="spells"><%= unique_deck.num_spells %></td>
                      <td class="weapons"><%= unique_deck.num_weapons %></td>
                      <td class="matches"><%= unique_deck.num_matches %></td>
                      <td class="winrate"><%= number_to_percentage(unique_deck.winrate, precision: 1) %></td>
                      <% if (deck.user.profile.nil? || deck.user.profile.name.nil?) %>
                        <td class="author">[anonymous]</td>
                      <% else %>
                        <td class="author"><%= link_to(deck.user.profile.name, profile_path(deck.user_id))%></td>
                      <% end %>
                      <td class="show">
                        <%= link_to public_show_deck_path(deck) do %>
                          <div class="arrow">
                            <i class="icon-arrow-right arrow-icon"></i>
                          </div>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div id="top">
              <table id="decklist" class="footable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th data-hide="phone,tablet">Minions</th>
                    <th data-hide="phone,tablet">Spells</th>
                    <th data-hide="phone,tablet">Weapons</th>
                    <th data-hide="phone">Matches</th>
                    <th>Win Rate</th>
                    <th data-hide="phone,tablet">Posted By</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                  <% @topdecks.each do |deck| %>
                    <% unique_deck = deck.unique_deck %>
                    <tr>
                      <td class="name"><%= deck.name %></td>
                      <td class="class"><%= deck.class_name %></td>
                      <td class="minions"><%= unique_deck.num_minions %></td>
                      <td class="spells"><%= unique_deck.num_spells %></td>
                      <td class="weapons"><%= unique_deck.num_weapons %></td>
                      <td class="matches"><%= unique_deck.num_matches %></td>
                      <td class="winrate"><%= number_to_percentage(unique_deck.winrate, precision: 1) %></td>
                      <% if (deck.user.profile.nil? || deck.user.profile.name.nil?) %>
                        <td class="author">[anonymous]</td>
                      <% else %>
                        <td class="author"><%= link_to(deck.user.profile.name, profile_path(deck.user_id))%></td>
                      <% end %>
                      <td class="show">
                        <%= link_to public_show_deck_path(deck) do %>
                          <div class="arrow">
                            <i class="fa icon-arrow-right arrow-icon"></i>
                          </div>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <%= link_to public_decks_path, class: 'all-decks' do %><span class="icon-arrow-right all-decks-arrow-icon"></span> All Decks<% end %>
        </div>
      </div>
    </section>

    <!-- Streams section -->
    <section id="streams row">
      <div class="content-head">
        <h2>Streams</h2>
        <div class="line"></div>
      </div>
      <div id="stream-container" class="tab-container">
        <ul class="etabs stream-tabs">
          <li class="tab"><a href="#stream-top">Top Streams</a></li>
          <li class="tab"><a href="#stream-featured">Featured Streams</a></li>
        </ul>
        <div class="stream-tab-container">
          <div id="stream-featured">
            <% @featured_streams.each do |stream| %>
              <% if stream[0] == 'Online' %>
                <div class="six columns stream">
                  <div class="stream-screenshot"><a href="<%= stream[1]['stream']['channel']["url"] %>"><img src="<%= stream[1]['stream']['preview']["medium"] %>" alt=""></a></div>
                  <div class="stream-description">
                    <div class="stream-name"><%= stream[1]['stream']['channel']["display_name"] %></div>
                    <div class="stream-status"><%= stream[1]['stream']['channel']["status"] %></div>
                  </div>
                  <div class="live-details">
                    <div class="stream-viewers"><i class="fa icon-eye-open orange"></i>&nbsp;<%= stream[1]['stream']['viewers'] %></div>
                    <div class="stream-view"><a href="<%= stream[1]['stream']['channel']["url"] %>" class="orange">VIEW</a> </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <div id="stream-top">
            <% @top_streams.each do |stream| %>
              <div class="six columns stream">
                <div class="stream-screenshot"><a href="<%= stream['channel']["url"] %>"><img src="<%= stream['preview']["medium"] %>" alt=""></a></div>
                <div class="row">
                  <div class="nine columns stream-description">
                    <div class="stream-name"><%= stream['channel']["display_name"] %></div>
                    <div class="stream-status"><%= truncate(stream['channel']["status"], length: 50) %></div>
                  </div>
                  <div class="three columns live-details">
                    <div class="stream-viewers"><i class="fa icon-eye-open orange"></i>&nbsp;<%= stream['viewers'] %></div>
                    <div class="stream-view"><a href="<%= stream['channel']["url"] %>" class="orange">VIEW</a> </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    </section>
  </div>
  <div class="four columns" id="sidebar">
    <section class="tracker">
      <img src="<%= public_url("images/screen/deck-page.jpg") %>" alt="" class="deck-screen">
      <h2>Stat Tracker</h2>
      <div class="tracker-desc">
        Automatically track your Hearthstone games with this FREE TRACKER. Gain insight into your win percentages and more!
      </div>
      <div class="actions">
        <div class="button success">Web App</div>
        <div class="button">Download</div>
      </div>
    </section>
    
    <section class="sidead">
      <iframe src="http://ib.adnxs.com/tt?id=2248887&referrer=hss.io" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" allowtransparency="true" width="227" height="250" id="side1"></iframe>
    </section>
    
    <section class="report">

      <h2>Stat Report</h2>
      <div class="tracker-desc">
        View this month's global stats from the whole Hearthstats community! See the most popular class, highest win rate and more!
      </div>
      <div class="actions">
        <div class="button success expand">View</div>
      </div>
    </section>

    <section class="newsletter">
     <h2>Newsletter Sign Up</h2>
     <div class="tracker-desc">
        Gain even more insight into the game by signing up to our weekly newsletter and receive the best of Hearthstone for the week.
        <%= form_tag welcome_newsletter_sub_path, method: :post, class: 'newsletter-form' do %>
          <%= text_field_tag 'email', nil, placeholder: 'Email' %>
          <%= submit_tag "Subscribe" ,class: 'button newsletter-submit' %>
        <% end %>
     </div>
   </section>

   <section class="sidead">
      <iframe src="http://ib.adnxs.com/tt?id=2248887&referrer=hss.io" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" topmargin="0" leftmargin="0" allowtransparency="true" width="227" height="250" id="side2"></iframe>
    </section>
  </div>
   
</div>

<!-- Footer section -->
<footer>
  <div class="footer">
    <p class="copyright"> Copyright HearthStats &copy; 2014</p>
    <%= image_tag ('logo_v2/grey_transparent_inline.png'), class: "footer-logo" %>
  </div>
</footer>
<!-- Footer section -->

<!-- jQuery Files -->
<script type="text/javascript" src= <%= public_url("js/jquery.mobilemenu.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/jquery.easing.1.3.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/main.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/jquery.footable.js") %> ></script>
<script type='text/javascript' src= <%= public_url("js/jquery.easytabs.min.js") %> ></script>

</body>
</html>
