<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8" />
  <meta content="Jeffrey Tong" name="author" />
  <%= csrf_meta_tags %>
  <title>HearthStats | Hearthstone Statistics and Tracking</title>
  <meta name="keywords" content="hearthstone, stats, hearthstats, statistics, tracking, win, loss, online, cloud, automatic">
  <meta name="description" content="HearthStats makes Hearthstone win/loss tracking simple. HearthStats will provide statistical feedback on your results to help you improve your game.">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- OG Meta -->
  <meta property="og:image" content="http://www.hearthstats.net/assets/hearthstatslogo.png">
  <meta property="og:url" content="http://hearthstats.net/">
  <meta property="og:title" content="HearthStats | Hearthstone Statistics and Tracking">
  <meta property="og:description" content="HearthStats makes Hearthstone win/loss tracking simple. HearthStats will provide statistical feedback on your results to help you improve your game.">

  <!--[if lt IE 9]>
      <script src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")></script>
  <![endif]-->
  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/reset.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("foundation.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/style.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/footable.core.min.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/ico.css")%> data-turbolinks-track />

  <!-- FAVICON-->
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag '/hearthstatslogo.png', rel: 'apple-touch-icon', type: 'image/png' %>

  <!-- Google Webfont -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- Header section -->
<header>
  <div class="top-bar">
    <div class="row">

      <!-- Social icons -->
      <div class="four columns">
        <ul class="top-social">
          <li class="top-tweet"><a href="https://twitter.com/HearthStats"><div class="icon-twitter"><div class="social-inner"><img src= <%= public_url("images/pat.png" ) %> alt=""></div></div></a></li>
          <li class="top-fb"><a href="https://www.facebook.com/HearthStats.net"><div class="icon-facebook"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
          <li class="top-gplus"><a href="https://plus.google.com/+HearthstatsNet/posts"><div class="icon-google-plus"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
        </ul>
      </div>

      <div class="eight columns">

        <!-- Login menu -->
        <div class="top-login">
        </div>
      </div>

    </div>
  </div>
  <div class="nav-bar">
    <div class="eight columns">
      <ul class="top-nav">
        <li class="mobile-only"><%= link_to new_user_session_path do %>LOGIN<% end %></li>
        <li class="mobile-only"><%= link_to new_user_registration_path do %>REGISTER<% end %></li>
        <li><%= link_to root_path do %>HOME<% end %></li>
        <li><%= link_to public_decks_path do %>DECKS<% end %></li>
        <li><%= link_to streams_index_path do %>STREAMS<% end %></li>
        <li><%= link_to news_path do %>NEWS<% end %></li>
        <li><%= link_to '/june' do %>STAT REPORT<% end %></li>
        <li><%= link_to uploader_path do %>STAT TRACKER<% end %></li>
        <li><%= link_to contactus_path do %>CONTACT<% end %></li>
      </ul>
    </div>
  </div>
</header>

<!-- Global Stats section -->
<section class="global-stats">
  <div class="row">
    <div class="twelve columns wr-graph">
      <div class="content-head">
        <h2>Global Stats</h2>
        <div class="line"></div>
      <div>
      <div class="wr-graph-container">
        <div id="wr-graph" class="wr-graph-placeholder"></div>
      </div>
    </div>

    <div class="twelve columns">
      <div class="row">
        <div class="six columns top-wr">
          <h3>Arena Top 5 Classes</h3>
          <table class="wr">
            <thead>
            </thead>
            <tbody>
              <% @arena_top.each_with_index do |c,i| %>
                <tr>
                  <td class="wr-change"></td>
                  <td class="wr-rank"><%= i + 1 %>.</td>
                  <td class="wr-class"><%= c[0] %></td>
                  <td class="wr-wr"><%= c[1] %>%</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div class="six columns top-wr">
          <h3>Constructed Top 5 Classes</h3>
          <table class="wr">
            <thead>
            </thead>
            <tbody>
              <% @con_top.each_with_index do |c,i| %>
                <tr>
                  <td class="wr-change"></td>
                  <td class="wr-rank"><%= i + 1 %>.</td>
                  <td class="wr-class"><%= c[0] %></td>
                  <td class="wr-wr"><%= c[1] %>%</td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Decklists section -->
<section id="decklists">
  <div class="row">

    <div class="content-head">
      <h2>Decklists</h2>
      <div class="line"></div>
    </div>
    
    <div class="twelve columns">
      <div id="tab-container" class="tab-container">
        <ul class="etabs">
          <li class="tab"><a href="#recent">Recent Decks</a></li>
          <li class="tab"><a href="#top">Top Decks</a></li>
        </ul>
        <div id="recent">
          <table id="decklist" class="footable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Class</th>
                <th data-hide="phone,tablet">Minions</th>
                <th data-hide="phone,tablet">Spells</th>
                <th data-hide="phone,tablet">Weapons</th>
                <th data-hide="phone">Matches</th>
                <th>Win Rate</th>
                <th data-hide="phone,tablet">Posted By</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <% @recentdecks.each do |deck| %>
                <% unique_deck = deck.unique_deck %>
                <tr>
                  <td class="name"><%= deck.name %></td>
                  <td class="class"><%= deck.class_name %></td>
                  <td class="minions"><%= unique_deck.num_minions %></td>
                  <td class="spells"><%= unique_deck.num_spells %></td>
                  <td class="weapons"><%= unique_deck.num_weapons %></td>
                  <td class="matches"><%= unique_deck.num_matches %></td>
                  <td class="winrate"><%= number_to_percentage(unique_deck.winrate, precision: 1) %></td>
                  <% if (deck.user.profile.nil? || deck.user.profile.name.nil?) %>
                    <td class="author">[anonymous]</td>
                  <% else %>
                    <td class="author"><%= link_to(deck.user.profile.name, profile_path(deck.user_id))%></td>
                  <% end %>
                  <td class="show">
                    <%= link_to public_show_deck_path(deck) do %>
                      <div class="arrow">
                        <i class="icon-arrow-right arrow-icon"></i>
                      </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <div id="top">
          <table id="decklist" class="footable">
            <thead>
              <tr>
                <th>Name</th>
                <th>Class</th>
                <th data-hide="phone,tablet">Minions</th>
                <th data-hide="phone,tablet">Spells</th>
                <th data-hide="phone,tablet">Weapons</th>
                <th data-hide="phone">Matches</th>
                <th>Win Rate</th>
                <th data-hide="phone,tablet">Posted By</th>
                <th>View</th>
              </tr>
            </thead>
            <tbody>
              <% @topdecks.each do |deck| %>
                <% unique_deck = deck.unique_deck %>
                <tr>
                  <td class="name"><%= deck.name %></td>
                  <td class="class"><%= deck.class_name %></td>
                  <td class="minions"><%= unique_deck.num_minions %></td>
                  <td class="spells"><%= unique_deck.num_spells %></td>
                  <td class="weapons"><%= unique_deck.num_weapons %></td>
                  <td class="matches"><%= unique_deck.num_matches %></td>
                  <td class="winrate"><%= number_to_percentage(unique_deck.winrate, precision: 1) %></td>
                  <% if (deck.user.profile.nil? || deck.user.profile.name.nil?) %>
                    <td class="author">[anonymous]</td>
                  <% else %>
                    <td class="author"><%= link_to(deck.user.profile.name, profile_path(deck.user_id))%></td>
                  <% end %>
                  <td class="show">
                    <%= link_to public_show_deck_path(deck) do %>
                      <div class="arrow">
                        <i class="fa icon-arrow-right arrow-icon"></i>
                      </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <%= link_to public_decks_path, class: 'all-decks' do %><span class="icon-arrow-right all-decks-arrow-icon"></span> All Decks<% end %>
    </div>
  </div>
</section>
<!-- Services section -->

<!-- About section -->
<section id="about">
  <div class="row">
        <div class="content-head">
      <h2>About HearthStats</h2>
      <div class="line"></div>
    </div>

    <div class="six columns">
      <img src= <%= public_url("demo/2.jpg" ) %> alt=""/>
    </div>

    <div class="six columns about-info">
      <h4>Want to perfect your game?</h4>
      <p>HearthStats makes it easy to pinpoint your weaknesses and strengths. Take the data to easily optimize your deck or arena strategy.</p>
      <ul class="list">
        <li>Deck win rates vs each class</li>
        <li>Arena win rates vs each class</li>
        <li>See how the coin affects your play</li>
        <li>Learn from other people's decks</li>
      </ul>
      <%= link_to "Register now", new_user_registration_path, class:"download-btn" %>
    </div>
  </div>
</section>
<!-- About section -->

<div class="clear"></div>
<div class="space30"></div>

<!-- Screenshot/gallery section -->
<section id="gallery">
  <div class="row">

        <div class="content-head">
      <h2>Screenshot gallery</h2>
      <div class="line"></div>
    </div>

    <div class="twelve columns no-padding">
      <div class="slidewrap">
        <ul class="slider gallery" id="sliderName">
          <li class="slide">
            <div class="three columns">
              <a href="demo/works/1.jpg" class="prettyPhoto">
                <div class="portfolio_thumb"><img src= <%= public_url("demo/works/1.jpg" ) %> alt="" />
                  <span class="portfolio-inner" >
                    <span class="zoom-inner">
                      <span class="overlay title">Quick Match Entry</span>
                      <span class="overlay-tag">Constructed</span>
                    </span>
                  </span>
                </div>
              </a>
            </div>

            <div class="three columns">
              <a href="demo/works/2.jpg" class="prettyPhoto">
                <div class="portfolio_thumb"><img src= <%= public_url("demo/works/2.jpg" ) %> alt="" />
                  <span class="portfolio-inner" >
                    <span class="zoom-inner">
                      <span class="overlay title">Arena Run Entry</span>
                      <span class="overlay-tag">Arena</span>
                    </span>
                  </span>
                </div>
              </a>
            </div>

            <div class="three columns">
              <a href="demo/works/3.jpg" class="prettyPhoto">
                <div class="portfolio_thumb"><img src= <%= public_url("demo/works/3.jpg" ) %> alt="" />
                  <span class="portfolio-inner" >
                    <span class="zoom-inner">
                      <span class="overlay title">Profile Win Rate Graph</span>
                      <span class="overlay-tag">Profile</span>
                    </span>
                  </span>
                </div>
              </a>
            </div>

            <div class="three columns">
              <a href="demo/works/4.jpg" class="prettyPhoto">
                <div class="portfolio_thumb"><img src= <%= public_url("demo/works/4.jpg" ) %> alt="" />
                  <span class="portfolio-inner">
                    <span class="zoom-inner">
                      <span class="overlay title">Global Statistics</span>
                      <span class="overlay-tag">Dashboard</span>
                    </span>
                  </span>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Screenshot/gallery section -->

<!-- Features section -->
<section id="features">
  <div class="row">
        <div class="content-head">
      <h2>Additional Features</h2>
      <div class="line"></div>
    </div>

    <div class="twelve columns">
      <div class="four columns features-content">
        <div class="ico">
          <i class="icon-desktop"></i>
        </div>
        <div class="features-desc">
        <h4>Responsive</h4>
        <p>HearthStats looks beautiful on your desktop, tablet and mobile phone.</p>
        </div>
      </div>

      <div class="four columns features-content">
        <div class="ico">
          <i class="icon-rss"></i>
        </div>
        <div class="features-desc">
        <h4>News Aggregation</h4>
        <p>HearthStats will gather Hearthstone news and articles from all over the web into one place.</p>
        </div>
      </div>


      <div class="four columns features-content">
        <div class="ico">
          <i class="icon-sitemap"></i>
        </div>
        <div class="features-desc">
        <h4>Tournaments</h4>
        <p>Join the exclusive HearthStats tournament and league system to win prizes and see how you fare against other players.</p>
        </div>
      </div>


      <div class="four columns features-content">
        <div class="ico">
          <i class="icon-globe"></i>
        </div>
        <div class="features-desc">
        <h4>Collaborative Data</h4>
        <p>A large user base allows users to see how each class is doing globally.</p>
        </div>
      </div>


      <div class="four columns features-content">
        <div class="ico">
          <i class="icon-question-sign"></i>
        </div>
        <div class="features-desc">
        <h4>Friendly Support</h4>
        <p>If you have a question, just ask. HearthStat is a tool by the community for the community!</p>
        </div>
      </div>


      <div class="four columns features-content">
        <div class="ico">
          <i class="icon-beaker"></i>
        </div>
        <div class="features-desc">
        <h4>Constant Development</h4>
        <p>New features are added every week and there are constant improvements.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features section -->

<!-- Testimonial / quote section -->
<section id="wrap2">
  <div class="row">
    <div class="twelve columns testimonials">
      <div id="quote-slider" class="flexslider">
        <ul class="slides">
          <li>
            <blockquote>HeartStats improves gaming through unrivaled up to the minute statistical analysis. <cite>Anya Kylie, icegirlak</cite></blockquote>
          </li>
          <li>
            <blockquote>Hearthstats gives me that 30,000ft view of my game that I wouldn't trade for anything else. <cite>Neil Murphy, Cecil</cite></blockquote>
          </li>
          <li>
            <blockquote>Отличный портал статистики: всё доступно, понятно, удобно и главное информативно. <cite>Victor Stanley</cite></blockquote>
          </li>

        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Testimonial / quote section -->

<!-- Footer section -->
<footer>
  <div class="footer">
    <p class="space10">&copy; 2013. <a href="#">HearthStats.</a> All rights reserved. <a href="/privacy" target="_blank">Privacy Policy</a></p>
    <div class="center">
      <img src="/assets/RSLogo.png" width="200px" />
    </div>
  </div>
</footer>
<!-- Footer section -->

<!-- Back to top button Section -->
<p id="back-top">
  <a href="#top"><span></span></a>
</p>
<!-- Back to top button Section -->

<!-- jQuery Files -->
<script type="text/javascript" src= <%= public_url("js/jquery.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/jquery.localscroll-1.2.7-min.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/jquery.mobilemenu.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/jquery.flot.min.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/jquery.scrollTo.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/jquery.easing.1.3.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/main.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/jquery.footable.js") %> ></script>
<script type='text/javascript' src= <%= public_url("js/jquery.placeholder.min.js") %> ></script>
<script type='text/javascript' src= <%= public_url("js/jquery.easytabs.min.js") %> ></script>

<script type="text/javascript">
$(function () {

    $('table').footable({
      breakpoints: {
        phone: 480,
        tablet: 700
      }
    });
    $('#tab-container').easytabs();

});
</script>
</body>
</html>
