<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <meta charset="utf-8" />
  <meta content="Jeffrey Tong" name="author" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src= <%= public_url("js/jquery.ujs.js") %> ></script>
  <%= csrf_meta_tags %>
  <title>HearthStats | Hearthstone Statistics and Tracking</title>
  <meta name="keywords" content="hearthstone, stats, hearthstats, statistics, tracking, win, loss, online, cloud, automatic">
  <meta name="description" content="HearthStats makes Hearthstone win/loss tracking simple. HearthStats will provide statistical feedback on your results to help you improve your game.">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- OG Meta -->
  <meta property="og:image" content="/favicon-196x196.png">
  <meta property="og:url" content="http://hearthstats.net/">
  <meta property="og:title" content="HearthStats | Hearthstone Statistics and Tracking">
  <meta property="og:description" content="HearthStats makes Hearthstone win/loss tracking simple. HearthStats will provide statistical feedback on your results to help you improve your game.">

  <!--[if lt IE 9]>
      <script src= "http://html5shiv.googlecode.com/svn/trunk/html5.js")></script>
  <![endif]-->
  <!-- CSS Files -->
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/reset.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("foundation.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/footable.core.min.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/ico.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/new-style.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href=<%= public_url("css/tooltipster.css")%> data-turbolinks-track />
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <!-- FAVICON-->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">

  <!-- Google Webfont -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
  <script type='text/javascript'>
    var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      (function() {
        var gads = document.createElement("script");
        gads.async = true;
        gads.type = "text/javascript";
       var useSSL = "https:" == document.location.protocol;
       gads.src = (useSSL ? "https:" : "http:") +
       "//www.googletagservices.com/tag/js/gpt.js";
       var node = document.getElementsByTagName("script")[0];
       node.parentNode.insertBefore(gads, node);
     })();
     
  </script>

  <script type='text/javascript'>
    googletag.cmd.push(function() {
      side_ad_1 = googletag.defineSlot('/42580283/300x250', [300, 250], 'div-gpt-ad-1431442997149-0').addService(googletag.pubads());
      side_ad_2 = googletag.defineSlot('/42580283/300x250', [300, 250], 'div-gpt-ad-1431442732918-0').addService(googletag.pubads());
      googletag.defineOutOfPageSlot('/42580283/homepage_first_look', 'div-gpt-ad-1431544843617-0').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });
    window.setInterval(function() {
      googletag.pubads().refresh([side_ad_1, side_ad_2]);
    },30000);
  </script>
</head>
<body>
<!-- Loading Overlay -->

<div id="loading-screen-cont">
  <div class="loading">
    <h2>Loading</h2>
    <div id="squaresWaveG">
      <div id="squaresWaveG_1" class="squaresWaveG">
      </div>
      <div id="squaresWaveG_2" class="squaresWaveG">
      </div>
      <div id="squaresWaveG_3" class="squaresWaveG">
      </div>
      <div id="squaresWaveG_4" class="squaresWaveG">
      </div>
      <div id="squaresWaveG_5" class="squaresWaveG">
      </div>
      <div id="squaresWaveG_6" class="squaresWaveG">
      </div>
      <div id="squaresWaveG_7" class="squaresWaveG">
      </div>
      <div id="squaresWaveG_8" class="squaresWaveG">
      </div>
    </div>
  </div>
</div>

<!-- Header section -->
<div class="header">
  <div class="top-bar">
    <div class="row">

      <!-- Social icons -->
      <div class="four columns">
        <ul class="top-social">
          <li class="top-tweet"><a href="https://twitter.com/HearthStats"><div class="icon-twitter"><div class="social-inner"><img src= <%= public_url("images/pat.png" ) %> alt=""></div></div></a></li>
          <li class="top-fb"><a href="https://www.facebook.com/HearthStats.net"><div class="icon-facebook"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
          <li class="top-gplus"><a href="https://plus.google.com/+HearthstatsNet/posts"><div class="icon-google-plus"><div class="social-inner"><img src="images/pat.png" alt=""></div></div></a></li>
        </ul>
      </div>

      <div class="eight columns no-right-margin">

        <!-- Login menu -->
        <div class="top-login">
          <% if !current_user %>
            <%= form_for(:user, :url => session_path(:user),  :html => {class: "login-form"}) do |f| %>
              <%= f.email_field :email, :autofocus => true, :placeholder => "Email", height: "45px", class: "form-control"%>
              <%= f.password_field :password, :placeholder => "Password", class: "form-control" %>

              <%= f.check_box :remember_me, checked: true,  class: "hide" %>
              <%= f.submit "Login", class: "login-button" %>
            <% end %>
            <%= button_to "Register", new_user_registration_path, method: :get, class: "login-button" %>
          <% else %>
            <%= link_to "Launch Dashboard", dashboards_path, class: "dashboard-button" %>
            <%= link_to "Logout", destroy_user_session_path, class: "logout-button" %>
          <% end %>
        </div>
      </div>

    </div>
  </div>
  <div class="nav-bar">
    <div class="row">
      <div class="four columns logo-cont">
        <%= image_tag 'logo_v2/orange_inline.png', class: 'header-logo' %>
      </div>
      <div class="eight columns nav-cont">
        <ul class="top-nav">
          <li class="mobile-only"><%= link_to new_user_session_path do %>Login<% end %></li>
          <li class="mobile-only"><%= link_to new_user_registration_path do %>Register<% end %></li>
          <li><%= link_to root_path do %>Home<% end %></li>
          <li><%= link_to public_decks_path do %>Decks<% end %></li>
          <li><%= link_to streams_index_path do %>Streams<% end %></li>
          <li><%= link_to news_path do %>News<% end %></li>
          <li><%= link_to '/reports' do %>Stat Report<% end %></li>
          <li><%= link_to uploader_path do %>Stat Tracker<% end %></li>
          <li><%= link_to contactus_path do %>Contact<% end %></li>
        </ul>
      </div>
    </div>
  </div>
</div class="header">
<div class="row">
  <div class="seven columns" id="main">

    <!-- Global Stats section -->
    <section id="global-stats">
      <div class="row">
        <div class="twelve columns wr-graph">
          <div class="content-head">
            <h2>Global Stats</h2>
            <div class="line"></div>
          <div>
          <div class="wr-graph-container">
            <div class="graph-container">
              <div id="klass-title"><img src="/assets/Icons/Classes/Druid_Icon.gif",
                id="klass-img" /><span id="klass-name">Druid</span></div>
              <div id="klass_chart" >
                <%= line_chart win_rates_constructeds_path(:klass_id => 1), min:30, max: 70, height: "200px"%>
              </div>
            </div>
            <div class="graph-klass-selector">
              <% Klass::LIST.each do |id, name| %>
                <%= link_to welcome_select_klass_path(:klass_id => id), :remote => true, class:"klass-link", data: {klass: "#{name}"} do %>
                  <%= name %>
                <% end %>
              <% end %>
              <div class="cf"></div>
            </div>
          </div>
        </div>

        <div class="twelve columns">
          <div class="row">
            <div class="six columns top-wr">
              <h3>Arena Top 5</h3>
              <table class="wr">
                <thead>
                </thead>
                <tbody>
                  <% @arena_top.each_with_index do |c,i| %>
                    <tr>
                      <td class="wr-change"></td>
                      <td class="wr-rank"><%= i + 1 %>.</td>
                      <td class="wr-class"><%= c[0] %></td>
                      <td class="wr-wr"><%= c[1] %>%</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div class="six columns top-wr">
              <h3>Constructed Top 5</h3>
              <table class="wr">
                <thead>
                </thead>
                <tbody>
                  <% @con_top.each_with_index do |c,i| %>
                    <tr>
                      <td class="wr-change"></td>
                      <td class="wr-rank"><%= i + 1 %>.</td>
                      <td class="wr-class"><%= c[0] %></td>
                      <td class="wr-wr"><%= c[1] %>%</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Decklists section -->
    <section id="decklists">
      <div class="row">
        <div class="content-head">
          <h2>Decklists</h2>
          <div class="line"></div>
        </div>

        <div class="twelve columns">
          <div id="tab-container" class="tab-container">
            <ul class="etabs">
              <li class="tab"><a href="#top">Top Decks</a></li>
              <li class="tab"><a href="#recent">Recent Decks</a></li>
            </ul>
            <% cache('top_decks') do %>
              <div id="top">
                <table id="decklist" class="footable">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Class</th>
                      <th data-hide="phone,tablet">Minions</th>
                      <th data-hide="phone,tablet">Spells</th>
                      <th data-hide="phone,tablet">Weapons</th>
                      <th data-hide="phone">Matches</th>
                      <th>Win Rate</th>
                      <th data-hide="phone,tablet">Posted By</th>
                      <th>View</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @topdecks.each do |deck| %>
                      <% unique_deck = deck.unique_deck %>
                      <tr>
                        <td class="name"><%= deck.name %></td>
                        <td class="class"><%= deck.class_name %></td>
                        <td class="minions"><%= unique_deck.num_minions %></td>
                        <td class="spells"><%= unique_deck.num_spells %></td>
                        <td class="weapons"><%= unique_deck.num_weapons %></td>
                        <td class="matches"><%= unique_deck.num_matches %></td>
                        <td class="winrate"><%= number_to_percentage(unique_deck.winrate, precision: 1) %></td>
                        <% if (deck.user.profile.nil? || deck.user.profile.name.nil?) %>
                          <td class="author">[anonymous]</td>
                        <% else %>
                          <td class="author"><%= link_to(deck.user.profile.name, profile_path(deck.user_id))%></td>
                        <% end %>
                        <td class="show">
                          <%= link_to public_show_deck_path(deck), :target => "_blank" do %>
                            <div class="arrow">
                              <i class="fa icon-arrow-right arrow-icon"></i>
                            </div>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            <% end %>
            <div id="recent">
              <table id="decklist" class="footable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Class</th>
                    <th data-hide="phone,tablet">Minions</th>
                    <th data-hide="phone,tablet">Spells</th>
                    <th data-hide="phone,tablet">Weapons</th>
                    <th data-hide="phone">Matches</th>
                    <th>Win Rate</th>
                    <th data-hide="phone,tablet">Posted By</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody>
                  <% @recentdecks.each do |deck| %>
                    <% unique_deck = deck.unique_deck %>
                    <tr>
                      <td class="name"><%= deck.name %></td>
                      <td class="class"><%= deck.class_name %></td>
                      <td class="minions"><%= unique_deck.num_minions %></td>
                      <td class="spells"><%= unique_deck.num_spells %></td>
                      <td class="weapons"><%= unique_deck.num_weapons %></td>
                      <td class="matches"><%= unique_deck.num_matches %></td>
                      <td class="winrate"><%= number_to_percentage(unique_deck.winrate, precision: 1) %></td>
                      <% if (deck.user.profile.nil? || deck.user.profile.name.nil?) %>
                        <td class="author">[anonymous]</td>
                      <% else %>
                        <td class="author"><%= link_to(deck.user.profile.name, profile_path(deck.user_id))%></td>
                      <% end %>
                      <td class="show">
                        <%= link_to deck_path(deck), :target => "_blank" do %>
                          <div class="arrow">
                            <i class="icon-arrow-right arrow-icon"></i>
                          </div>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

          <%= link_to public_decks_path, class: 'all-decks' do %><span class="icon-arrow-right all-decks-arrow-icon"></span> All Decks<% end %>
        </div>
      </div>
    </section>

    <!-- Rank by Class -->
    <section id="rank-class">
      <div class="row">
        <div class="twelve columns top-wr">
          <div class="content-head">
            <h2>Class Percent by Rank</h2>
            <div class="line"></div>
          <div>
          <div class="rank-class">
            <% @rank_class.each do |rank, stats| %>
              <div class="rank-class-row">
                <span class="rank-class-name">
                  <%= rank %>
                </span>
                <div class="rank-class-colors">
                  <% stats.each do |klass, percent| %>
                    <span class="<%= Klass::LIST[klass] %> rank-class-box tooltip" title="<%= Klass::LIST[klass] %>: <%= percent.round(2) %>%" style="width:<%= percent %>%">
                      &nbsp;
                    </span>
                  <% end %>
                </div>
              </div>
            <% end %>  
          </div>
        </div>
      </div>
    </section>

  </div>
  <div class="five columns" id="sidebar">
    <section class="tracker">
      <img src="<%= public_url("images/screen/deck-page.jpg") %>" alt="" class="deck-screen">
      <h2>Stat Tracker</h2>
      <div class="tracker-desc">
        Automatically track your Hearthstone games with this FREE TRACKER. Gain insight into your win percentages and more!
      </div>
      <div class="actions">
        <%= link_to "Web App", new_user_session_path, class: "button success web-app-btn" %>
        <%= link_to "Companion", uploader_path , class: "button uploader-btn" %>
      </div>
    </section>

    <section class="sidead">
      <%= render "advertisement/ad300x250_1" %>
    </section>

    <section class="report">

      <h2>Stat Report</h2>
      <%= image_tag('/reports/2015/pics/may_bgx300.jpg') %>
      <div class="tracker-desc">
        View this month's global stats from the whole Hearthstats community! See the most popular class, highest win rate and more!
      </div>
      <div class="actions">
        <%= link_to "View", "/may" , class: "button success expand report-btn" %>
      </div>
    </section>

    <section class="newsletter">
     <h2>Newsletter Sign Up</h2>
     <div class="tracker-desc">
        Gain even more insight into the game by signing up to our weekly newsletter and receive the best of Hearthstone for the week.
        <%= form_tag welcome_newsletter_sub_path, method: :post, class: 'newsletter-form' do %>
          <%= text_field_tag 'email', nil, placeholder: 'Email' %>
          <%= submit_tag "Subscribe" ,class: 'button newsletter-submit' %>
        <% end %>
     </div>
   </section>

   <section class="sidead">
      <%= render "advertisement/ad300x250_2" %>
    </section>
  </div>

</div>
<!-- /42580283/homepage_first_look -->
<div id='div-gpt-ad-1431544843617-0'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1431544843617-0'); });
</script>
</div>
<!-- Footer section -->
<footer>
  <div class="footer">
    <p class="copyright">&copy; 2013<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script> OverStats Inc.</p>
    <%= image_tag ('logo_v2/grey_transparent_inline.png'), class: "footer-logo" %>
  </div>
</footer>
<!-- Footer section -->

<!-- jQuery Files -->
<script type="text/javascript" src= <%= public_url("js/jquery.mobilemenu.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/jquery.easing.1.3.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/main.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/jquery.footable.js") %> ></script>
<script type='text/javascript' src= <%= public_url("js/jquery.easytabs.min.js") %> ></script>
<script type="text/javascript" src= <%= public_url("js/jquery.tooltipster.min.js") %> ></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45442103-1', 'auto');
  ga('send', 'pageview');

</script>
<% if notice %>
  <script>
    toastr.options = {
      "positionClass": "toast-top-left"
    }
    toastr.success("<%= notice %>")
  </script>
<% end %>
</body>
</html>
