<div class="row">
  <div class="col-md-6 col-sm-6">
    <!-- BEGIN GRAPH-->
    <div class="portlet solid bordered light-grey">
      <div class="portlet-title">
        <div class="caption"><i class="fa fa-bar-chart-o"></i>Personal Win Rates</div>
      </div>
      <div class="portlet-body">
        <%= render "chart", height: 334 %>
      </div>
    </div>
    <!-- END GRAPH-->
  </div>
  <div class="col-md-6 col-sm-6">
    <!-- BEGIN PORTLET-->

		<div class="portlet solid bordered light-grey">
			<div class="portlet-title">
				<div class="caption"><i class="fa fa-bell-o"></i>Recent Activities</div>
			</div>
			<div class="portlet-body">
				<div class="scroller" style="height: 136px;" data-always-visible="1" data-rail-visible="0">
					<ul class="feeds">
						<% @recent_entries.each do |entry| %>
							<% timepassed = Time.diff(Time.now, entry[4], '%h hr %m min') %>
							<li>
								<div class="col1">
									<div class="cont">
										<div class="cont-col1">
											<% if entry[0] == "Arena" and entry[3] == true %>
												<div class="label label-sm label-info">
													<%=image_tag("swords.svg", height: 17, width: 17) %>
												</div>
											<% elsif entry[0] == "Arena" and entry[3] == false %>
												<div class="label label-sm label-warning">
													<%=image_tag("swords.svg", height: 17, width: 17) %>
												</div>
											<% elsif entry[0] == "Constructed" and entry[3] == true %>
												<div class="label label-sm label-success">
													<%=image_tag("swords.svg", height: 17, width: 17) %>
												</div>
											<% elsif entry[0] = "Constructed" and entry[3] == false %>
												<div class="label label-sm label-danger">
													<%=image_tag("swords.svg", height: 17, width: 17) %>
												</div>
											<% else %>
												<div class="label label-sm label-info">
													<%=image_tag("hammerwrench.svg", height: 17, width: 17) %>
												</div>
											<% end %>
										</div>
										<div class="cont-col2">
											<div class="desc">
												<% if entry[3] %>
													Nice! You won against <%= entry[2] %> with <%= entry[1] %>
												<% else %>
													Oops. You lost against <%= entry[2] %> with <%= entry[1] %>
												<% end %>
											</div>
										</div>
									</div>
								</div>
								<div class="col2">
									<div class="date">
										<%= timepassed[:diff] %> ago
									</div>
								</div>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>
    <!-- END PORTLET-->
    <!-- BEGIN PORTLET-->
    <div class="portlet solid bordered light-grey">
			<div class="portlet-title">
				<div class="caption"><i class="fa fa-globe"></i>Global Stats</div>
			</div>
			<div class="portlet-body">
				<div class="row">
					<div class="col-md-4">
						<div class="easy-pie-chart">
							<div class="number transactions" data-percent=<%= @global[:arena] %>><span><%= @global[:arena] %></span>%</div>
							<span class="title" href="#">Arena Win Rate</span>
						</div>
					</div>
					<div class="margin-bottom-10 visible-sm"></div>
					<div class="col-md-4">
						<div class="easy-pie-chart">
							<div class="number visits" data-percent=<%= @global[:con] %>><span><%= @global[:con] %></span>%</div>
							<span class="title">Constructed Win Rate</span>
						</div>
					</div>
					<div class="margin-bottom-10 visible-sm"></div>
					<div class="col-md-4">
						<div class="easy-pie-chart">
							<div class="number bounce" data-percent=<%= @global[:coin] %>><span><%= @global[:coin] %></span>%</div>
							<span class="title" href="#">Constructed Coin Win Rate</span>
						</div>
					</div>
				</div>
			</div>
		</div>
    <!-- END PORTLET-->
  </div>
</div>
<div class="clearfix"></div>