<%= form_for @constructed, url: {controller: "constructeds", action: "update"} do |f| %>
  <% if @constructed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@constructed.errors.count, "error") %> prohibited this arena from being saved:</h2>

      <ul>
        <% @constructed.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-6">
      <div class="gofirstfield center row">
        <span class="coin col-md-6">
          <h3><%= t('.you_played_on_the') %> </h3>
          <input type="checkbox"
            name="other[gofirst]"
            rel="toggle-btn"
            class="btn-lg"
            on="<%= t('.first_turn') %>"
            off="<%= t('.second_turn') %>"
            <% if @constructed.coin %>
            state="off"
            <% end %>
          />
        </span>
        <span class="ranked col-md-6"> <h3><%= t('.this_match_is') %> </h3>
          <input type="text"
            name="other[rank]"
            rel="toggle-btn"
            class="btn-lg"
            on="<%= t('.ranked') %>"
            off="<%= t('.casual') %>"
            onValue="Ranked"
            offValue="Casual"
            <% if @constructed.mode_id == 2 %>state="off"<%end%>
          />
        </span>
      </div>
      <div class="row center">
        <div class="col-md-6">
          <div class="yourfield">
            <%= f.label "Deck Name" %>
            <br />
              <%= select_tag("deckname", options_for_select(@my_decks.map{ |d| [d.name, d.name, {:class => get_name(d, "Klass")}]}, @constructed.deck.name)) %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="oppfield">
            <%= f.label "Opponent's Class" %>
            <br />
            <%= f.select :oppclass_id, options_for_select(klasses_hash.to_a, @constructed.oppclass_id) %>
          </div>
        </div>
      </div>
      <div class="cf"></div>
      <div class="winfield center">
        <div id="1" class= "btn btn-primary green winbutt_style winbutton not-selected">Add Win</div>
        <div id="2" class= "btn btn-primary red winbutt_style winbutton not-selected">Add Defeat</div>
        <div id="3" class= "btn btn-primary yellow winbutt_style winbutton not-selected">Add Draw</div>
        <%= number_field_tag 'win',@constructed.result_id, class: "hidden wininput" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="con_notes">
        <h3> Optional Fields </h3>
        <div class="form-group">
          <%= f.label "Opponent Name" %>
          <%= f.text_field :oppname, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Notes" %>
          <%= f.text_area :notes, :class => "redactor form-control", :cols => 120 %>
        </div>
      </div>
    </div>

  </div>
  <div class="actions center">
    <%= link_to constructeds_path do %>
    <button class="btn btn-lg">
      Back
    </button>
    <% end %>
    <%= f.submit "Update Entry", class: "btn btn-lg btn-primary arenasubmit" %>
  </div>
<% end %>
<script type="text/javascript">
  app.UI.initClassSelector('#match_oppclass_id');
  app.UI.initDeckSelector("#deckname");
  $("#<%=@constructed.result_id%>").removeClass('not-selected');
  $(".winbutton").click(function(){
    $(".winbutton").addClass('not-selected');
    $(this).removeClass('not-selected');
    result_id = $(this).attr("id");
    $(".wininput").val(result_id)
  });
</script>
