<script>
  $(document).ready(function() {

    function format(state) {
      var originalOption = state.element;
   
      return "<img src='/assets/Icons/Classes/" + state.text + "_Icon.gif' alt='" + $(originalOption).data('foo') + "' />" + state.text;
    }
    $("#constructed_oppclass").select2({
      width: '300px',
      formatResult: format,
      formatSelection: format,
      escapeMarkup: function(m) { return m; }
    });
    $("#deckname_0").select2({
      width: '300px'
    });
  });
</script>

<%= form_for(@constructed) do |f| %>
  <% if @constructed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@constructed.errors.count, "error") %> prohibited this arena from being saved:</h2>

      <ul>
      <% @constructed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div> -->
  
    <div class="gofirstfield">
      <div class="gofirsttitle">You played on the: </div>
      <div class="pure-button pure-button-success gofirst"> First Turn </div><br />
      <%= f.check_box :gofirst , :checked => true, class: "firstcheckbox hidden" %>
    </div>
    <div class="yourfield">
      <%= f.label "Deck Name" %><br />
      <% if !@lastentry.nil? %>
      	<%= collection_select(:deckname, 0, Deck.where(:user_id => current_user.id).all, :name, :name, {:selected => @lastentry.deckname}) %>
    	<% else %>
      	<%= collection_select(:deckname, 0, Deck.where(user_id: current_user.id).all, :name, :name) %>
    	<% end %>
    </div>
    <div class="oppfield">
      <%= f.label "Opponent's Class" %><br />
      <%= f.select :oppclass, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior]) %>
    </div>
    <div class="cf"></div>
    <div class="winfield">
      <div class="pure-button pure-button-success winbutton"> Victory </div><br />
      <%= f.check_box :win , :checked => true, class: "wincheckbox hidden" %>
    </div>
    <div class="actions">
      <%= link_to 'Back', constructeds_path, class: "pure-button pure-button-secondary" %>
      <%= f.submit "Create Entry", class: "pure-button pure-button-success" %>
    </div>

<% end %>
