<script>
</script>

<%= form_for(@constructed) do |f| %>
  <% if @constructed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@constructed.errors.count, "error") %> prohibited this arena from being saved:</h2>

      <ul>
      <% @constructed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="field">
      <span class="ranked">
	      <div class="btn btn-lg green ranked-btn">Ranked Game</div>
	      <%= f.text_field :rank , :value => "Ranked" ,  class: "rank-field hidden" %>
      </span>
    </div>
	<div class="field">
        <% if !@lastentry.nil? %>
        	<%= collection_select(:deckname, 0, @myDecks, :name, :name, {:selected => @lastentry.deckname}) %>
    	<% else %>
			<%= collection_select(:deckname, 0, @myDecks, :name, :name) %>
        <% end %>
	</div>
	<div class="field">
		vs.
	</div>
	<div class="field">
		<%= f.select :oppclass, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior]) %>
	</div>
    <div class="field">
    	<span class="coin">
	      <div class="btn btn-lg green gofirst" id="goFirstButton">Went First</div>
	      <%= f.check_box :gofirst , :checked => true, class: "firstcheckbox hidden" %>
    	</span>
    </div>
    <div class="winfield field">
      <div class="btn green btn-lg winbutton">Victory</div>
      <%= f.check_box :win , :checked => true, class: "wincheckbox hidden" %>
    </div>
    <div class="con_notes">
		<h3>Notes</h3>
	  	<%= f.text_area :notes, :class => "redactor", :rows => 40, :cols => 120 %>
		</div>

    <div class="actions center">
      <%= link_to constructeds_path do %>
        <button class="btn btn-lg">Cancel</button>
      <% end %>
      <%= f.submit "Create Entry", class: "btn btn-lg btn-primary arenasubmit" %>
    </div>
<% end %>
