<%= form_for(@constructed) do |f| %>
  <% if @constructed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@constructed.errors.count, "error") %> prohibited this arena from being saved:</h2>

      <ul>
      <% @constructed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div> -->
  <% if !@lastentry.nil? %>
    <div class="gofirstfield">
      <div class="pure-button pure-button-success gofirst"> First </div><br />
      <%= f.check_box :gofirst , :checked => true, class: "firstcheckbox hidden" %>
    </div>

    <div class="yourfield">
      <%= f.label "Deck Name" %><br />
        <%= collection_select(:deckname, 0, Deck.where(:user_id => current_user.id).all, :name, :name, {:selected => @lastentry.deckname}) %>
    </div>
    <div class="oppfield">
      <%= f.label "Opponent's Class" %><br />
      <%= f.select :oppclass, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior]) %>
    </div>
    <div class="cf"></div>
    <div class="winfield">
      <div class="pure-button pure-button-success winbutton"> Victory </div><br />
      <%= f.check_box :win , :checked => true, class: "wincheckbox hidden" %>
    </div>
    <div class="actions">
      <%= f.submit "Create Entry", class: "pure-button pure-button-primary" %>
    </div>
  <% else %>
    <div class="yourfield">
      <div class="gofirstfield">
        <div class="pure-button pure-button-success gofirst"> First </div><br />
        <%= f.check_box :gofirst , :checked => true, class: "firstcheckbox hidden" %>
      </div>
      <%= f.label "Deck Name" %><br />
        <%= collection_select(:deckname, 0, Deck.where(user_id: current_user.id).all, :name, :name) %>
        <br>
        Please make sure you have created a deck. If not, create a new deck <%= link_to "here", new_deck_path %>.
    </div>
    <div class="oppfield">
      <%= f.label "Opponent's Class" %><br />
      <%= f.select :oppclass, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior]) %>
    </div>
    <div class="cf"></div>
    <div class="winfield">
      <div class="pure-button pure-button-success winbutton"> Victory </div><br />
      <%= f.check_box :win , :checked => true, class: "wincheckbox hidden" %>
    </div>
    <div class="actions">
      <%= f.submit "Create Entry", class: "pure-button pure-button-primary" %>
    </div>
  <% end %>
<% end %>
