<%= form_for(@constructed) do |f| %>
  <% if @constructed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@constructed.errors.count, "error") %> prohibited this arena from being saved:</h2>

      <ul>
      <% @constructed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
  	<div class="col-md-4 center">
  		<div class="row">
			<div class="field col-md-6 center">
				<label>Your Deck</label>
		        <% if !@lastentry.nil? %>
		        	<%= collection_select(:deckname, 0, @myDecks, :name, :name, {:selected => @lastentry.deckname}) %>
		    	<% else %>
					<%= collection_select(:deckname, 0, @myDecks, :name, :name) %>
		        <% end %>
			</div>
			<div class="field oppclass col-md-6 center">
				<label>Opponent</label>
				<%= f.select :oppclass, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior]) %>
			</div>
		</div>
		<div class="row">
			<div class="field col-md-6 center">
			      <label>Mode</label>
			      <span class="ranked">
				      <div class="btn btn-lg green ranked-btn">Ranked</div>
				      <%= f.text_field :rank , :value => "Ranked" ,  class: "rank-field hidden" %>
			      </span>
			</div>
			<div class="col-md-6 center">
			    <div class="field col-md-6">
			    	<label>Played</label>
			    	<span class="coin">
				      <div class="btn btn-lg green gofirst" id="goFirstButton">First</div>
				      <%= f.check_box :gofirst , :checked => true, class: "firstcheckbox hidden" %>
			    	</span>
			    </div>
			    <div class="winfield field col-md-6">
			    	<label>Result</label>
			      <div class="btn green btn-lg winbutton">Victory</div>
			      <%= f.check_box :win , :checked => true, class: "wincheckbox hidden" %>
			    </div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
	    <div class="con_notes field">
			<label>Notes</label>
		  	<%= f.text_area :notes, :class => "redactor", :rows => 40, :cols => 120 %>
			</div>
	
	    <div class="actions center">
	      <%= link_to constructeds_path do %>
	        <button class="btn btn-lg">Cancel</button>
	      <% end %>
	      <%= f.submit "Create Entry", class: "btn btn-lg btn-primary arenasubmit" %>
	    </div>
	 </div>
  </div>
    <script type="text/javascript">
    
    	$('.oppclass select option').each(function() {
    		$(this).attr('data-iconurl', "/assets/Icons/Classes/" + $(this).text() + "_Icon.gif");
    	});
    
    	// create select dropdowns
    	$(".field select").selectBoxIt();
    
    	// set casual state if necessary
    	if('<%= @lastentry.rank %>' == 'Casual') {
    		toggleRankedButton();
    	}
    </script>
<% end %>
