<%= form_for(@constructed) do |f| %>
	<% if @constructed.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@constructed.errors.count, "error") %> prohibited this arena from being saved:</h2>

			<ul>
				<% @constructed.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="row">
		<div class="col-md-6">
			<div class="gofirstfield center row">
				<span class="coin col-md-6">
					<h3>You played on the: </h3>
					<input type="checkbox"
						name="constructed[gofirst]"
						rel="toggle-btn"
						class="btn-lg"
						on="First Turn"
						off="Second Turn"
					/>
				</span>
				<span class="ranked col-md-6"> <h3>This match is: </h3>
					<input type="text"
						name="constructed[rank]"
						rel="toggle-btn"
						class="btn-lg"
						on="Ranked"
						off="Casual"
						<% if !@lastentry.nil? && @lastentry.rank == "Casual" %>state="off"<%end%>
					/>
				</span>
			</div>
			<div class="row center">
				<div class="col-md-6">
					<div class="yourfield">
						<%= f.label "Deck Name" %>
						<br />
						<% if !@lastentry.nil? %>
							<%= f.select(:deckname, 0, options_for_select(@myDecks.map{ |d| [d.name, d.name, {:class => d.race}]}, @lastentry.deckname)) %>
						<% else %>
							<%= f.select(:deckname, 0, options_for_select(@myDecks.map{ |d| [d.name, d.name, {:class => d.race}]})) %>
						<% end %>
					</div>
				</div>
				<div class="col-md-6">
					<div class="oppfield">
						<%= f.label "Opponent's Class" %>
						<br />
						<%= f.select :oppclass, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior], @constructed.oppclass) %>
					</div>
				</div>
			</div>
			<div class="cf"></div>
			<div class="winfield center">
				<input type="checkbox"
					name="constructed[win]"
					rel="toggle-btn"
					class="btn-success winbutt_style winbutton"
					on="Victory"
					off="Defeat"
					offClass="red"
				/>
			</div>
		</div>
		<div class="col-md-6">
			<div class="con_notes">
				<h3>Notes</h3>
				<%= f.text_area :notes, :class => "redactor", :cols => 120 %>
			</div>
		</div>

	</div>
	<div class="actions center">
		<%= link_to constructeds_path do %>
		<button class="btn btn-lg">
			Back
		</button>
		<% end %>
		<%= f.submit "Create Entry", class: "btn btn-lg btn-primary arenasubmit" %>
	</div>
<% end %>
<script type="text/javascript">
	app.UI.initClassSelector('#constructed_oppclass');
	app.UI.initDeckSelector("#deckname_0")
</script>