<script>
  function format(state) {
    var originalOption = state.element;

    return "<img src='/assets/Icons/Classes/" + state.text + "_Icon.gif' alt='" + $(originalOption).data('foo') + "' />" + state.text;
  }
  $("#constructed_oppclass").select2({
    width: '300px',
    formatResult: format,
    formatSelection: format,
    escapeMarkup: function(m) { return m; }
  });
  $("#deckname_0").select2({
    width: '300px'
  });
</script>

<%= form_for(@constructed) do |f| %>
  <% if @constructed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@constructed.errors.count, "error") %> prohibited this arena from being saved:</h2>

      <ul>
      <% @constructed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <!-- <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div> -->

    <div class="gofirstfield center">
      <h3>You played on the: </h3>
      <div class="btn btn-lg green gofirst"> First Turn </div><br />
      <%= f.check_box :gofirst , :checked => true, class: "firstcheckbox hidden" %>
    </div>
    <div class="row center">
      <div class="col-md-6">
        <div class="yourfield">
          <%= f.label "Deck Name" %><br />
          <% if !@lastentry.nil? %>
            <%= collection_select(:deckname, 0, Deck.where(:user_id => current_user.id).all, :name, :name, {:selected => @lastentry.deckname}) %>
          <% else %>
            <%= collection_select(:deckname, 0, Deck.where(user_id: current_user.id).all, :name, :name) %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="oppfield">
          <%= f.label "Opponent's Class" %><br />
          <%= f.select :oppclass, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior]) %>
        </div>
      </div>
    </div>
    <div class="cf"></div>
    <div class="winfield center">
      <div class="btn btn-success winbutt_style winbutton"> Victory </div><br />
      <%= f.check_box :win , :checked => true, class: "wincheckbox hidden" %>
    </div>
    <div class="actions center">
      <%= link_to constructeds_path do %>
        <button class="btn btn-lg">Back</button>
      <% end %>
      <%= f.submit "Create Entry", class: "btn btn-lg btn-primary arenasubmit" %>
    </div>

<% end %>
