
<div id="winrate_container" style="min-width: 310px; height: 400px; margin: 0 auto; margin-right:20px;"></div>

<script type="text/javascript">
  var numMatchesPerClassGlobal = <%= raw @num_matches_global.to_json %>;
  var numMatchesPerClassPersonal = <%= raw @num_matches_personal.to_json %>;
  $('#winrate_container').highcharts({

      chart: {
          type: 'column'
      },

      title: {
          text: '<%=t('.constructed_win_rate_title')%>'
      },
    subtitle: {
      text: 'Source: HearthStats.net'
    },
  credits: {
    enabled: false
  },
      xAxis: {
          categories: <%= raw @classes.to_json %>
      },

      yAxis: {
          allowDecimals: false,
          max: 100,
          min: 0,
          title: {
              text: 'Win Rate'
          }
      },
      tooltip: {
      valueSuffix: '%',
      formatter: function() {
        var numGames = this.series.name === "Personal" ? numMatchesPerClassPersonal[this.x] : numMatchesPerClassGlobal[this.x];
            return '<b>'+ this.x +'</b><br/>'+
                this.series.name +': '+ this.y + '%<br/>' +
                numGames.toLocaleString() + ' games'
        }
    },
    legend:{
      enabled:false
    },
    plotOptions: {
      column: {
          colorByPoint: true
    },
      bar: {
    dataLabels: {
            enabled: true
          }
  }
  },

      series: [{
          name: 'Personal',
          data: <%= raw @personal_win_rates.to_json %>,
          stack: 'Druid'
      }, {
          name: 'Global',
          data: <%= raw @global_win_rates.to_json %>,
          stack: 'male'
      }],
    colors: [
      '#FF7D0A',
      '#ABD473',
      '#69CCF0',
      '#F58CBA',
      '#999999',
      '#f1c40f',
      '#0070DE',
      '#9428C9',
      '#A57A4D'
    ]
  });

</script>
