<%= search_form_for @q, url: search_decks_url,
  html: { class: 'data-turboform', id: 'deckListFilter' } do |f| %>
  <div class="form-inline">
    <div class="form-group">
      <%= t('.klass') %>
      <%= f.select :klass_id_eq, klass_collection_for_select, {}, { class: "form-control" } %>
    </div>
    <div class="form-group">
      <%= t('.created_after') %>
      <%= f.search_field :unique_deck_created_at_gteq, class: "form-control", size: 15 %>
    </div>
    <div class="form-group">
      <%= t('.min_games') %>
      <%= f.search_field :unique_deck_num_matches_gteq, class: "form-control", size: 6 %>
    </div>
    <div class="form-group">
      <%= t('.deck_name') %>
      <%= f.text_field :name_cont, class: "form-control", size: 20 %>
    </div>
    <div class="form-group">
      <%= t('.show') %>
      <%= select_tag :items, options_for_select(items_per_page_for_select, params[:items]),
        { class: "form-control"} %>

    </div>
    <div class="form-group">
      <div class="form-group">
      <%= t('.sort_by') %>
      <%= select_tag :sort, options_for_select(sort_for_select, params[:sort]),
        { class: "form-control"} %>
      </div>
      <div class="form-group">
        &nbsp;
        <%= select_tag :order, options_for_select([[t('.ascending'), 'asc'],
                                                   [t('.descending'), 'desc']],
        params[:order]),  { class: "form-control"} %>

      </div>
    </div>
  </div> 
  <div class="form-group deck-filter-apply">
    <%= f.submit 'Apply', id: 'deckListFilterSubmit', class: "btn green" %>
    <span style="margin: 10px"><strong>  <%= t('.decks_found', count: number_with_delimiter(@decks.total_entries, :delimiter => ','))%></strong></span>
  </div >
<% end %>
<script type="text/javascript">
  $(document).ready(function(){
    $('#deckListFilter select').change(function() {
      $('#deckListFilter').submit();
    });
    $('#q_unique_deck_created_at_gteq').datepicker(
      { dateFormat: 'yy-mm-dd'}
      );
  });
</script>
