<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="deckform">
		<div class="row">
			<div class="col-md-6 center">
			  <div class="deckfield">
			    <%= f.label :name %><br />
			    <%= f.text_field :name, class: "deckname" %>
			  </div>
			</div>
			<div class="col-md-6 center">
			  <div class="oppfield">
			    <%= f.label "Class" %> <br>
			    <%= f.select :race, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior], @deck.race) %>
			  </div>
			</div>
		  <div class="hidden">
		    <%= f.text_field :decklink %>
		  </div>
		</div>
		<div class="row">
			<div class="col-md-12 center">
				<div class="notesfield center">
					<label for="deck_notes">Notes</label><small>  Decklist, etc.</small><br />
			    <%= f.text_area :notes, :class => "redactor", :rows => 40, :cols => 20 %>
		    </div>
			</div>
		</div>
	  <div class="cf"></div>
	  <div class="actions center">
	    <%= f.submit "Update Deck", class: "btn btn-lg btn-success arenasubmit" %>
	    <%= link_to decks_path do %>
	      <button class="btn btn-lg">Back</button>
	    <% end %>
	  </div>
  </div>
<% end %>
<script type="text/javascript">
	app.UI.initClassSelector('#deck_race');
</script>