<script>
  $(document).ready(function() {

    function format(state) {
      var originalOption = state.element;
   
      return "<img src='/assets/Icons/Classes/" + state.text + "_Icon.gif' alt='" + $(originalOption).data('foo') + "' />" + state.text;
    }
    $("#deck_race").select2({
      width: '300px',
      formatResult: format,
      formatSelection: format,
      escapeMarkup: function(m) { return m; }
    });
    $("#deckname_0").select2({
      width: '300px'
    });
  });
</script>

<%= form_for(@deck) do |f| %>
  <% if @deck.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deck.errors.count, "error") %> prohibited this deck from being saved:</h2>

      <ul>
      <% @deck.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="deckfield">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="oppfield">
    <%= f.label "Class" %> <br>
    <%= f.select :race, options_for_select(%w[Druid Hunter Mage Paladin Priest Rogue Shaman Warlock Warrior]) %>
  </div>

  <div class="hidden">
    <%= f.text_field :decklink %>
  </div>  

  <div class="cf"></div>
  <div class="actions">
    <%= link_to 'Back', decks_path, class: "pure-button pure-button-secondary" %>
    <%= f.submit "Create Entry", class: "pure-button pure-button-success" %>
  </div>
<% end %>
