<%= form_for(@deck) do |f| %>
<%= f.hidden_field :cardstring, class: "" %>
<% if @deck.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@deck.errors.count, "error") %> <%=t('shared.prohibited_this_being_save', resource: t('shared.deck'))%>:</h2>

		<ul>
			<% @deck.errors.full_messages.each do |msg| %>
			<li>
				<%= msg %>
			</li>
			<% end %>
		</ul>
	</div>
<% end %>
<div class="deckform">
	<div class="row">
		<div class="col-md-6 center">
			<div class="row center">
				<div class="deckfield col-md-6 center">
					<%= f.label t('decks.form.name') %>
					<br />
					<%= f.text_field :name, class: "deckname" %>
				</div>
				<div class="oppfield col-md-6 center">
					<%= f.label t('decks.form.class') %>
					<br>
					<%= collection_select(:deck, :klass_id, Klass.order("name ASC"), :id, :name) %>
				</div>
			</div>
			<div class="row center">
				<div class="notesfield center">
					<label for="deck_notes"><% t('decks.form.notes')%></label><small> <% t('decks.form.decklist_etc')%></small>
					<br />
					<%= f.text_area :notes, :class => "redactor", :rows => 40, :cols => 20 %>
				</div>
				<div class="actions center">
					<% if !current_user.guest? %>
						<p>
							<%= f.check_box :is_public %>
							<%= f.label t("decks.form.this_deck_public") , { :for => "deck_is_public", :style => "font-size:1em;" } %>
						</p>
					<% end %>
					<%= f.submit (@deck.id.nil? ? t("shared.create") : t("shared.update")) + " " +t('shared.deck'), class: "btn btn-lg btn-success arenasubmit" %>
					<%= link_to decks_path do %>
					<button class="btn btn-lg">
						Back
					</button>
					<% end %>
				</div>
			</div>
		</div>
		<div class="col-md-6 center">

			<%= render :template => 'shared/deckbuilder', :locals => { :deck => @deck, :enabled => true } %>

		</div>
	</div>
	<div class="row"></div>
	<div class="cf"></div>

<% end %>
<script type="text/javascript">
	app.UI.initClassSelector('#deck_klass_id');
	if(DeckBuilder) {
		DeckBuilder.addChangeHandler(function() {
			$('#deck_cardstring').val(DeckBuilder.getCardString());
		});
		DeckBuilder.setCardString('<%= @deck.cardstring %>');
		<% if !@deck.klass.nil? %>
			DeckBuilder.setClassId(<%= @deck.klass.id %>);
		<% end %>
		DeckBuilder.render();
		$('#deck_klass_id').change(function() {
			DeckBuilder.setClassId($(this).val());
		});
	}
</script>
