<h1>Listing decks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Wins</th>
    <th>Loses</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @decks.each do |deck| %>
  <tr>
    <td><%= deck.name %></td>
    <td><%= deck.wins %></td>
    <td><%= deck.loses %></td>
    <td><%= link_to 'Show', deck %></td>
    <td><%= link_to 'Edit', edit_deck_path(deck) %></td>
    <td><%= link_to 'Destroy', deck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Deck', new_deck_path %>
