
<%= render 'decks/filter' %>

<p>* <em><%= t('.stats_are_for_all_users') %></em></p>

<table class="decklist table table-bordered table-striped table-condensed flip-content">
  <thead>
    <tr>
      <th class="public-decklist-class"><%= t('.class') %></th>
      <th class="name"><%= t('.name') %></th>
      <th class="minions"><%= t('.minions') %></th>
      <th class="spells"><%= t('.spells') %></th>
      <th class="weapons"><%= t('.weapons') %></th>
      <th class="matches"><%= t('.matches') %> *</th>
      <th class="wins"><%= t('.wins') %> *</th>
      <th class="losses"><%= t('.losses') %> *</th>
      <th class="winrate"><%= t('.win_rate') %> *</th>
      <th class="author"><%= t('.listed_by') %></th>
      <% unless current_user.nil? %>
        <th class="tools"><%= t('.tools') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @decks.each do |deck| %>
      <% unique_deck = deck.unique_deck %>
      <tr>
        <td class="public-decklist-class"></td>
        <td class="name">
          <img src="/assets/Icons/Classes/<%= deck.class_name %>_Icon.gif" alt="<%= deck.class_name %>" title="<%= deck.class_name%>"/>
          <%= link_to deck.name, public_show_deck_path(deck) %></td>
        <td class="minions"><%= unique_deck.num_minions %></td>
        <td class="spells"><%= unique_deck.num_spells %></td>
        <td class="weapons"><%= unique_deck.num_weapons %></td>
        <td class="matches"><%= unique_deck.num_matches %></td>
        <td class="wins"><%= unique_deck.num_wins %></td>
        <td class="losses"><%= unique_deck.num_losses %></td>
        <td class="winrate"><%= number_to_percentage(unique_deck.winrate, precision: 1) %></td>

        <% if (deck.user.profile.nil? || deck.user.profile.name.nil?) %>
          <td class="author">[anonymous]</td>
        <% else %>
          <td class="author"><%= link_to(deck.user.profile.name, profile_path(deck.user_id))%></td>
        <% end %>

        <% unless current_user.nil? %>
          <td class="tools">
            <% if current_user.try(:id) == deck.user_id %>
              <%= link_to("Edit", edit_deck_path(deck), class: 'btn default btn-xs purple fa fa-pencil-square-o') %>
              <%= link_to("Delete", deck, class: "btn default btn-xs red fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure? This will delete the associated Constructed Matches as well.' }) %>
            <% else %>
              <% user_copy = @user_decks.detect { |d| d.unique_deck_id == deck.unique_deck_id } %>
              <% if user_copy.nil? %>
                <%= link_to("Copy to My Decks", copy_deck_path(deck), class: 'btn default btn-xs blue', :rel => "tooltip", :title => "Make your own copy of this deck") %>
              <% else %>
                <%= link_to("View My Copy", user_copy, :rel => "tooltip", :title => "View your copy of this deck", class: "btn default btn-xs green",) %>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end%>
  </tbody>
</table>

<%= will_paginate(@decks, renderer: WillPaginate::ActionView::LinkRenderer) %>
