<link rel="stylesheet" type="text/css" href=<%= public_url("css/footable.core.min.css")%> data-turbolinks-track />


<h3>Featured Decks</h3> 
<div class="row public-decklist">
  <div class="col-md-12">
    <div class="margin-top-10">
      <div class="row">
        <% Deck.get_featured_decks.each do |featured| %> 
          <div class="mix-grid">
            <div class="col-md-3 col-sm-6 col-xs-6 mix">
              <a href="<%= public_show_deck_path(featured) %>">
                <div class="<%= featured.class_name %>-bg-color featured-deck"> 
                  <img src="/assets/Icons/Classes/<%= featured.class_name%>_full_icon_<%= rand(3)+1 %>.gif" alt="<%= featured.class_name %>" class="featured-deck-img"/> 
                  <h4><%= truncate(featured.name, length:40) %></h4>
                  <p>
                    <% if(featured.user.profile.nil? || featured.user.profile.name.nil?)%>
                      by: [anonymous]
                    <% else %>
                      by: <%= featured.user.profile.name %>
                    <% end %>
                  </p>
                </div> 
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr class="deck-separator">

<%= render 'decks/filter' %>

<div class="public-decks">
  <div class="row">
    <% @decks.each do |deck| %>
    <% unique_deck = deck.unique_deck %>
    <% next if unique_deck.nil? %>
    <div class="col-md-6 col-sm-12 deck-section"> 
      <div class="public-deck-class">
        <img src="/assets/Icons/Classes/<%= deck.class_name %>_Icon.gif" alt="<%= deck.class_name %>" title="<%= deck.class_name %>"/>
      </div>
      <div class="public-deck-ident">
        <div class="public-deck-name">
          <%= link_to(truncate(deck.name, length: 35), public_show_deck_path(deck), class: 'name-tooltip', :rel => "tooltip", :title => "#{deck.name}") %>
        </div>
        <div class="public-deck-author">
          <% if(deck.user.profile.nil? || deck.user.profile.name.nil?)%>
            by: [anonymous]
          <% else %>
            by: <%= link_to(deck.user.profile.name, profile_path(deck.user_id)) %>
          <% end %>
        </div>
      </div> 
      <% unless current_user.nil? %>
        <div class="user-option-buttons"> 
          <% if current_user.try(:id) == deck.user_id %>
            <%= link_to("Edit", edit_deck_path(deck), class: 'btn default btn-xs purple fa fa-pencil-square-o') %>
            <%= link_to("Delete", deck, class: "btn default btn-xs red fa fa-trash-o", method: :delete, data: { confirm: 'Are you sure? This will delete the associated Constructed Matches as well.' }) %>
          <% else %>
            <% user_copy = @user_decks.detect { |d| d.unique_deck_id == deck.unique_deck_id } %>
            <% if user_copy.nil? %>
              <%= link_to("Copy to My Decks", copy_deck_path(deck), class: 'btn default btn-xs blue', :rel => "tooltip", :title => "Make your own copy of this deck") %>
            <% else %>
              <%= link_to("View", user_copy, :rel => "tooltip", :title => "View your copy of this deck", class: "btn default btn-xs green",) %>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <div class="last-updated">
        Last Updated
        <br>
        <span style="font-size: 15px">
        <%= time_ago_in_words(deck.updated_at)%> ago
        </span> 
      </div>
      <div class="win-rate">
        Winrate
        <br>
        <span class="win-percent"><% if unique_deck.winrate.nil? %> -
        <% else %> <%= number_to_percentage(unique_deck.winrate, precision: 1) %> <% end %> </span> 
      </div>
      <div class="num-matches">
        Matches
        <br>
        <span class="win-percent">
          <% if unique_deck.num_matches.nil? %> - 
          <% else %> <%= unique_deck.num_matches %> <% end %> 
        </span> 
      </div>

    </div>
  <% end %>
</div>
</div>

<p style="clear: both">* <em><%= t('.stats_are_for_all_users') %></em></p></span>

<%= will_paginate(@decks, renderer: WillPaginate::ActionView::LinkRenderer) %>


<script type="text/javascript"> 
  $('.mix-grid').mixitup();
</script>


<script type="text/javascript" src= <%= public_url("js/jquery.footable.js") %> ></script>
<script type="text/javascript">
  $(function () {
    $('.footable').footable();
  });
</script>