<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @deck.name %>
</p>

<p>
  <b>Wins:</b>
  <%= @deck.constructeds.where(win: true).count %>
</p>

<p>
  <b>Loses:</b>
  <%= @deck.constructeds.where(win: false).count %>
</p>
<p><b>Deck Views:</b> <%= @deck.impressionist_count%> </p>
<% cache(@deck, expires_in: 1.day)  do %>
	<%= raw @message %>
<% end %>
<%= link_to 'Edit', edit_deck_path(@deck) %> |
<%= link_to 'Back', decks_path %>
