<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="header-inner">
    <!-- BEGIN LOGO -->
    <%= link_to root_path, class: "navbar-brand" do %>
	    <%= image_tag("logo.png", alt: "logo", class: "img-responsive") %>
    <% end %>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <% if signed_in? %>
	    <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	    <%= image_tag("menu-toggler.png") %>
	    </a>
    <% end %>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <ul class="nav navbar-nav pull-right f32">
      <!-- BEGIN USER LOGIN DROPDOWN -->
      <% if signed_in? %>
      	<%= render 'layouts/inbox' %>
        <%= render 'layouts/locales' %>
	      <li class="dropdown user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <% if current_user.guest %>
	      	<%= image_tag("avatar.jpg") %>
	        <span class="username">
        		Guest
      	<% else %>
	        <%= image_tag current_user.profile.avatar.url(:thumb) %>
      		<%if current_user.profile.name.blank? %>
	        	<%= current_user.email %>
      		<% else %>
	        	<%= current_user.profile.name %>
      		<% end %>
      	<% end %>
        </span>
        <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to profile_path(current_user.id) do %><i class="fa fa-user"></i> My Profile<% end %>
          </li>
          <li class="divider"></li>
          <li><%= link_to destroy_user_session_path do %><i class="fa fa-key"></i> Log Out<% end %>
          </li>
        </ul>
      <% else %>
      	<li class="dropdown user">
        <%= link_to new_user_session_path, class: "dropdown-toggle" do %>
	        <span class="username">Register Now / Login</span>
        <% end %>
      <% end %>
      </li>
      <!-- END USER LOGIN DROPDOWN -->
    </ul>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->