<!-- BEGIN HEADER -->
<div class="header navbar navbar-inverse navbar-fixed-top">
  <!-- BEGIN TOP NAVIGATION BAR -->
  <div class="header-inner">
    <!-- BEGIN LOGO -->
    <%= link_to root_path, class: "navbar-brand" do %>
	    <%= image_tag("logo.png", alt: "logo", class: "img-responsive") %>
    <% end %>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    <%= image_tag("menu-toggler.png") %>
    </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN TOP NAVIGATION MENU -->
    <ul class="nav navbar-nav pull-right">
      <!-- BEGIN USER LOGIN DROPDOWN -->
      <li class="dropdown user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
        <%= image_tag("avatar.jpg") %>
        <span class="username"><%= current_user.email %></span>
        <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to profile_path(current_user.id) do %><i class="fa fa-user"></i> My Profile<% end %>
          </li>
          <!-- <li><a href="page_calendar.html"><i class="fa fa-calendar"></i> My Calendar</a>
          </li>
          <li><a href="inbox.html"><i class="fa fa-envelope"></i> My Inbox <span class="badge badge-danger">3</span></a>
          </li>
          <li><a href="#"><i class="fa fa-tasks"></i> My Tasks <span class="badge badge-success">7</span></a>
          </li> -->
          <li class="divider"></li>
          <li><a href="javascript:;" id="trigger_fullscreen"><i class="fa fa-move"></i> Full Screen</a>
          </li>
          <li><a href="extra_lock.html"><i class="fa fa-lock"></i> Lock Screen</a>
          </li>
          <li><%= link_to destroy_user_session_path do %><i class="fa fa-key"></i> Log Out<% end %>
          </li>
        </ul>
      </li>
      <!-- END USER LOGIN DROPDOWN -->
    </ul>
    <!-- END TOP NAVIGATION MENU -->
  </div>
  <!-- END TOP NAVIGATION BAR -->
</div>
<!-- END HEADER -->