<li class="dropdown" id="header_inbox_bar">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
    data-close-others="true">
  <i class="fa fa-envelope"></i>
  <% unless unread_message.count == 0 %>
    <span class="badge inbox-count"><%= unread_message.count %></span>
  <% end %>
  </a>
  <ul class="dropdown-menu inbox">
    <li class="note-new-message">
      <p><%= t('shared.header.you_have')%> <span class="new-msg-count"><%= unread_message.count %></span> <%= t('shared.header.new_messages')%></p>
    </li>
    <li>
      <ul class="dropdown-menu-list scroller" style="height: 250px;">
        <% user_messages.last(5).reverse.each do |note| %>
          <li class="note-cont">
            <div class="note-body"> <%= note.body %> </div>
            <div class="note-link">
              <%= link_to notifications_note_read_path(note_id: note.id), 
                method: :post, :remote => true, class: "note-mark_as_read" do %>
                <i class="fa fa-check"></i>
              <% end %>
              <%= link_to note.object, class: "note-goto" do %>
                <i class="fa fa-chevron-right"></i>
              <% end %>
            </div>
            <div class="cf"></div>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
</li>
