<li class="dropdown" id="header_inbox_bar">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
    data-close-others="true">
  <i class="fa fa-envelope"></i>
  <% receipts = current_user.receipts.where(is_read: false) %>
  <% notes = Notification.find(receipts.map(&:notification_id)) %>
  <% unless notes.count == 0 %>
    <span class="badge inbox-count"><%= notes.count %></span>
  <% end %>
  </a>
  <ul class="dropdown-menu extended inbox">
    <li>
      <p><%= t('shared.header.you_have')%> <span class="new-msg-count"><%= notes.count %></span> <%= t('shared.header.new_messages')%></p>
    </li>
    <li>
      <ul class="dropdown-menu-list scroller" style="height: 250px;">
        <% notes.each do |note| %>
          <li class="note-<%= note.id %>">
            <%= link_to notifications_note_read_path(note_id: note.id), method: :post, :remote => true do %>
            <span class="photo">
              <%= image_tag("hslogo-thumb.jpg") %>
            </span>
            <span class="subject">
            <span class="from">HS Robot</span>
            <span class="time"><%= time_ago_in_words(note.created_at) %> ago</span>
            </span>
            <span class="message">
              <%= note.body %>
            </span>
            <% end %>
          </li>
        <% end %>
        <div class="inbox-dismiss">
          <%= t('shared.header.click_message_to_dismiss')%>
        </div>
      </ul>
    </li>
  </ul>
</li>
