<div class="page-sidebar navbar-collapse collapse">
  <!-- BEGIN SIDEBAR MENU -->
  <ul class="page-sidebar-menu">
    <li>
      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
      <div class="sidebar-toggler hidden-phone"></div>
      <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <!-- Disable Search for now -->
    <li class="start dashboards">
      <%= link_to "/dashboards" do %>
      <i class="fa fa-home"></i>
      <span class="title"><%=t('menu.dashboard')%></span>
      <% end %>
      <span class="arrow "></span>
      <ul class="sub-menu">
        <li class= "cards">
          <%= link_to t("menu.card_database"), cards_path %>
        </li>
      </ul>
    </li>
    <li class="arenas arena_runs" data-activeimg="swords">
      <a href="javascript:;">
        <!-- <span class="icon-swords"></span> -->
      <%= image_tag("swordsgrey.png", height: 16, width: 20, class: "sidebaricon") %>
      <span class="title"><%=t('menu.arena.title')%></span>
      <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li class= "index"><%= link_to t("menu.arena.recent_arena_runs"), arenas_path %></li>
        <li class= "new">
          <% if ArenaRun.where(user_id: current_user.id).last  %>
            <% unless ArenaRun.where(user_id: current_user.id).last.complete %>
              <%= link_to t('menu.arena.continue_arena_run'), new_arena_path %>
            <% else %>
              <%= link_to t('menu.arena.new_arena_run'), new_arena_run_path %>
            <% end %>
          <% else %>
            <%= link_to t('menu.arena.new_arena_run'), new_arena_run_path %>
          <% end %>
        </li>
        <li class= "matches"><%= link_to t('menu.arena.recent_arena_matches'), matches_arenas_path %></li>
        <li class= "stats">
          <%= link_to t('menu.arena.statistics'), stats_arenas_path %>
        </li>
      </ul>
    </li>
    <li class="constructeds" data-activeimg="hammerwrench">
      <a href="javascript:;">
      <%= image_tag("hammerwrenchgrey.png", height: 16, width: 20, class: "sidebaricon") %>
      <span class="title"><%=t('menu.constructed.title') %></span>
      <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li class= "index">
          <%= link_to t('menu.constructed.recent_matches'), constructeds_path %>
        </li>
        <li class="new">
          <%= link_to t('menu.constructed.new_match'), new_constructed_path %>
        </li>
        <li class="stats" >
          <%= link_to t('menu.constructed.statistics'), stats_constructeds_path %>
        </li>
      </ul>
    </li>
    <li class="decks">
      <a href="javascript:;">
      <i class="fa fa-list"></i>
      <span class="title"><%= t('menu.deck.title')  %></span>
      <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li class="public_decks">
          <%= link_to t('menu.deck.public_deck_list'), public_decks_path %>
        </li>
        <li class="index">
          <%= link_to t('menu.deck.my_deck'), decks_path %>
        </li>
        <li class="active_decks">
          <%= link_to t('menu.deck.my_active_deck'), active_decks_decks_path %>
        </li>
        <li class="new">
          <%= link_to t('menu.deck.new_deck'), new_splash_decks_path %>
        </li>
      </ul>
    </li>
    <li class="premium">
      <a href="javascript:;">
        <i class="fa fa-star"></i>
        <span class="title"><%= t('menu.prem.title') %></span>
        <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li class="index">
          <%= link_to t('menu.prem.status'), premiums_path %>
        </li>
        <li class="report">
          <%= link_to t('menu.prem.report'), report_premiums_path %>
        </li>
        <li class="activity">
          <%= link_to t('menu.prem.activity'), profiles_path %>
        </li>
      </ul>
    </li>
    <li class="news">
      <a href="/news">
      <i class="fa fa-rss"></i>
      <span class="title"><%= t('menu.news')  %></span>
      </a>
    </li>
    <li class="streams">
      <%= link_to streams_index_path do %>
      <i class="fa fa-th"></i>
      <span class="title"><%= t('menu.streams')  %></span>
      <% end %>
    </li>
    <li class="additional">
      <a href="javascript:;">
      <i class="fa fa-gift"></i>
      <span class="title"><%= t('menu.extra.title') %></span>
      <span class="arrow "></span>
      </a>
      <ul class="sub-menu">
        <li class="uploader">
          <%= link_to uploader_path do %>
            <%= t('menu.extra.official_uploader') %>
          <% end %>
        </li>
        <li class="dec">
          <%= link_to '/reports' do %>
            Monthly Report
          <% end %>
        </li>
        <li class="changelog">
          <%= link_to changelog_path do %>
            <%= t('menu.extra.change_log') %>
          <% end %>
        </li>
        <li class="aboutus">
          <%= link_to aboutus_path do %>
            <%= t('menu.extra.about_us') %>
          <% end %>
        </li>
        <li class="contactus">
          <%= link_to contactus_path do %>
            <%= t('menu.extra.contact_info') %>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
  <!-- END SIDEBAR MENU -->
</div>
<script>
  <% if params[:controller] == "additional" && params[:action] == "help"%>
    $("#help").addClass('active');
  <% elsif params[:controller] == "additional" && params[:action] == "news"%>
    $(".news").addClass('active');
  <% else %>
    $(".<%= params[:controller] %>").addClass('active');
    $(".<%= params[:controller] %>").find(".<%= params[:action] %>").addClass('active');
  <% end %>
</script>
