<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="Jeffrey Tong" name="author" />
	<meta name="MobileOptimized" content="320">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags :site => 'HearthStats' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= favicon_link_tag '/hearthstatslogo.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Fenix|Lato:100,300,400' rel='stylesheet' type='text/css'>
</head>
<% if signed_in? %>
	<body class="page-header-fixed">
<% else %>
	<body class="page-header-fixed page-full-width">
<% end %>
	<% if notice || alert %>
		<div class="notifications">
			<% if notice %>
			<p class="notice"><%= notice %></p>
			<% elsif alert %>
			<p class="alert"><%= alert %></p>
			<% end %>
		</div>
	<% end %>

	<%= render 'layouts/header' %>
	<!-- <%= announce Announcement.newest, :hide_message => "Hide Message" %> -->
	<div class="clearfix"></div>
	<div class="page-container">
		<% if signed_in? %>
			<%= render 'layouts/sidebar' %>
		<% end %>
		<div class="page-content">
			<!-- BEGIN PAGE HEADER -->
			<%= render 'layouts/breadcrumbs' %>
			<!-- END PAGE HEADER -->
			<%= yield %>
		</div>
	</div>
	<%= render 'layouts/footer' %>
	<script>
		App.init(); // initlayout and core plugins
	</script>
</body>
</html>
