<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="Jeffrey Tong" name="author" />
  <meta name="MobileOptimized" content="320">
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "page_specific/#{params[:controller]}"  %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags :site => 'HearthStats' %>
  <!-- FAVICON-->
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag Sync.adapter_javascript_url %>
  <link href='//fonts.googleapis.com/css?family=Fenix|Lato:100,300,400' rel='stylesheet' type='text/css'>
  <script type="text/javascript">
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
      (function() {
        var gads = document.createElement("script");
        gads.async = true;
        gads.type = "text/javascript";
       var useSSL = "https:" == document.location.protocol;
       gads.src = (useSSL ? "https:" : "http:") +
       "//www.googletagservices.com/tag/js/gpt.js";
       var node = document.getElementsByTagName("script")[0];
       node.parentNode.insertBefore(gads, node);
     })();
  </script>

  <script type='text/javascript'>
    googletag.cmd.push(function() {
      foot_ad = googletag.defineSlot('/42580283/728x90', [728, 90], 'div-gpt-ad-1429851355840-0').addService(googletag.pubads());
      top_ad = googletag.defineSlot('/42580283/728x90', [728, 90], 'div-gpt-ad-1432041481704-0').addService(googletag.pubads());
      googletag.enableServices();
    });
  </script>
</head>
<% if signed_in? %>
  <body class="page-header-fixed">
<% else %>
  <body class="page-header-fixed page-full-width">
<% end %>
  <%= render 'layouts/header' %>
  <div class="clearfix"></div>
  <div class="page-container">
    <% if signed_in? %>
      <%= render 'layouts/sidebar' %>
    <% end %>
    <div class="page-content">
      <% if signed_in? %>
        <%= announce Announcement.newest, :hide_message => "Hide" %>
      <% end %>
      <!-- BEGIN PAGE HEADER -->
      <%= render 'layouts/breadcrumbs' %>
      <!-- END PAGE HEADER -->
      <%= yield %>
      <%= render 'layouts/foot_ads' unless Rails.env.development? %>
      <%= render 'layouts/admin_controls' if signed_in? && current_user.is_admin? %>
    </div>
  </div>
  <%= render 'layouts/footer' %>
  <script>
    App.init(); // initlayout and core plugins
  </script>
  <% if notice || alert %>
    <% if notice %>
      <script>
        toastr.success("<%= raw notice %>");
      </script>
    <% elsif alert %>
      <script>
        toastr.error("<%= raw alert %>");
      </script>
    <% end %>
  <% end %>
  <% if current_user %>
    <script>
      // Include the UserVoice JavaScript SDK (only needed once on a page)
      UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/Kk0pKUYPigy8io1njnDA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

      //
      // UserVoice Javascript SDK developer documentation:
      // https://www.uservoice.com/o/javascript-sdk
      //

      // Set colors
      UserVoice.push(['set', {
        accent_color: '#448dd6',
        trigger_color: 'white',
        trigger_background_color: 'rgba(46, 49, 51, 0.6)'
      }]);

      // Identify the user and pass traits
      // To enable, replace sample data with actual user traits and uncomment the line
      UserVoice.push(['identify', {
        email:      "<%= current_user.email %>", // User’s email address
        //name:       'John Doe', // User’s real name
        //created_at: 1364406966, // Unix timestamp for the date the user signed up
        id:         <%= current_user.id %>, // Optional: Unique id of the user (if set, this should not change)
        //type:       'Owner', // Optional: segment your users by type
        //account: {
        //  id:           123, // Optional: associate multiple users with a single account
        //  name:         'Acme, Co.', // Account name
        //  created_at:   1364406966, // Unix timestamp for the date the account was created
        //  monthly_rate: 9.99, // Decimal; monthly rate of the account
        //  ltv:          1495.00, // Decimal; lifetime value of the account
        //  plan:         'Enhanced' // Plan name for the account
        //}
      }]);

      // Add default trigger to the bottom-right corner of the window:
      UserVoice.push(['addTrigger', { mode: 'smartvote', trigger_position: 'bottom-right' }]);

      // Or, use your own custom trigger:
      //UserVoice.push(['addTrigger', '#id', { mode: 'smartvote' }]);

      // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
      UserVoice.push(['autoprompt', {}]);
    </script>
    <% if current_user.guest %>
      <script>
        toastr.info("Guest data will be deleted, please register to save your records.");
      </script>
    <% end %>
  <% end %>
  <!--Adblock Check--> <script type="text/javascript" src="/ads/ad_tester.js"></script> <script type="text/javascript"> jQuery(document).ready(checkAds()); function checkAds(){if (document.getElementById('adsense')!=undefined){document.write("<script>ga('send', 'event', 'Adblock', 'Unblocked', 'false', false);console.log('not blocked');</sc" + "ript>");}else{document.write("<script>ga('send', 'event', 'Adblock', 'Blocked', 'true',true); console.log('blocked');</sc" + "ript>");}} </script> <!--End Adblock Check-->
  </body>
</html>
