<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= display_meta_tags :site => 'HearthStats' %>
  <%= favicon_link_tag '/hearthstatslogo.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <link href='http://fonts.googleapis.com/css?family=Fenix|Lato:100,300,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<% if notice || alert %>
		<div class="notifications">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>
	<% end %>

	<div id="wrap">
		<%= render 'layouts/header' %>
		<%= announce Announcement.newest, :hide_message => "Hide Message" %>
		<div class="container">
			<%= yield %>
		</div>
		<div id="push"></div>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
