<!DOCTYPE html>
<html>
<head>
  <title>Hearthstats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Fenix|Lato:100,300,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<% if notice || alert %>
		<div class="notifications">
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>
	<% end %>
	<%= render 'layouts/header' %>
	<div class="container">
		<%= yield %>
	</div>

	<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
	<style type="text/css" media="screen, projection">
	  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
	</style>
	<script type="text/javascript">
	  if (typeof(Zenbox) !== "undefined") {
	    Zenbox.init({
	      dropboxID:   "20251633",
	      url:         "https://hearthstats.zendesk.com",
	      tabTooltip:  "Support",
	      tabImageURL: "https://assets.zendesk.com/external/zenbox/images/tab_support_right.png",
	      tabColor:    "black",
	      tabPosition: "Right"
	    });
	  }
	</script>
</body>
</html>
